<app-sid-bar>
    <div class="main-content" style="margin: 20px;">
        <router-outlet>
            <span class="loader" *ngIf="loading"></span>
        </router-outlet>
     </div>
</app-sid-bar>   