<div class="container">
    <div class="body">
        <form [formGroup]="testEgibFormGroup" >
        <!--*********************** commence **************************** -->
        <div class="slide0"  *ngIf="test.active.step == 0">
            <div class="image"><img src="assets/photos/1.png" height="30%" alt=""></div>
            <div class="test">
                <h1>Testez votre éligibilité</h1>
                <button  mat-stroked-button color="primary" (click)="checkForm(test.active.step)">Commencer</button>
            </div> 
        </div>
         <!--*********************** slide map **************************** -->
        <div class="slide1" *ngIf="test.active.step == 1">
            <div class="image">
                <app-map-french></app-map-french>
            </div>
            <div class="test"><h1>Choisissez votre  région</h1></div>
        </div>
        <!--*********************** slide activite **************************** -->
        <div class="slide2" *ngIf="test.active.step == 2">
            <div class="image"><img src="assets/photos/4.png" height="30%" alt=""></div>
            <div class="test">
                <h1>Quel est votre secteur d'activité ?</h1>
                <input type="text"  formControlName="activite" placeholder="Choisir un activité">
            </div>
        </div>
        <!--*********************** slide status **************************** -->
         <div class="slide3" *ngIf="test.active.step == 3">
            <div class="image"><img src="assets/photos/5.png" height="30%" alt=""></div>
            <div class="test">
                <h1>Status juridique</h1>
                <div class="blockBtn">
                    <div class="sousBlock">
                <button  mat-stroked-button [ngClass]="{butttonREd:  testEgibFormGroup.get('status').value === 'SARL'}" (click)="getstatus('SARL')">SARL</button>
                <button  mat-stroked-button [ngClass]="{butttonREd:  testEgibFormGroup.get('status').value === 'SAS'}" (click)="getstatus('SAS')">SAS</button>
                    </div>
                    <div class="sousBlock">
                <button  mat-stroked-button [ngClass]="{butttonREd:  testEgibFormGroup.get('status').value === 'SASU'}" (click)="getstatus('SASU')">SASU</button>
                <button  mat-stroked-button [ngClass]="{butttonREd:  testEgibFormGroup.get('status').value === 'EURL'}" (click)="getstatus('EURL')">EURL</button>
                    </div>
                <button  mat-stroked-button [ngClass]="{butttonREd:  testEgibFormGroup.get('status').value === 'MICRO-ENT'}" (click)="getstatus('MICRO-ENT')">MICRO-ENT</button>
                </div>
            </div>
        </div>
        <!--*********************** nom entreprise **************************** -->
          <div class="slide4" *ngIf="test.active.step == 4">
            <div class="image"><img src="assets/photos/3.png" height="30%" alt=""></div>
            <div class="test">
                <h1>Nom de votre entreprise</h1>
                <input type="text" placeholder="nom societe" formControlName="nomSoc" >
            </div>
         </div>
        <!--*********************** turnover **************************** -->
        <div class="slide5" *ngIf="test.active.step == 5">
            <div class="image"><img src="assets/photos/6.png" height="30%" alt=""></div>
            <div class="test">
                <h1>Avez vous perdu du chiffre d'affaires pendant la crise sanitaire ?</h1>
                <div class="blockBtn">
                    <div class="sousBlock">
                            <div class="qty">
                                <p>Baisse</p>
                                <input type="text"   formControlName="turnover" #turnover [readonly]="true">
                                <div class="qtyBtn">
                                <button  mat-stroked-button color="primary" (click)="incTurn()">+</button>
                                <button  mat-stroked-button color="primary"(click)="decTurn()">-</button>
                                </div>
                            </div>
                    </div>
                    <div class="sousBlock">
                        <div class="qty">
                            <p>Augmentation</p>
                            <input type="text" value="+50%">
                            <div class="qtyBtn">
                            <button  mat-stroked-button color="primary">+</button>
                            <button  mat-stroked-button color="primary">-</button>
                            </div>
                        </div>
                  </div>
                    <div class="sousBlock">
                        <mat-radio-button value="0">Etat Stable</mat-radio-button>
                    </div>                   
                </div>
            </div>
        </div>

          <!--*********************** help **************************** -->
          <div class="slide6" *ngIf="test.active.step == 6">
            <div class="image">
                <h1>Avez vous déja obtenu des aides de l'état</h1>
                <img src="assets/photos/7.png" alt="">
            </div>
            <div class="test">
                <select name="" formControlName="help" >
                    <option  *ngFor="let item of test.data[test.active.step].options " value="item" >{{ item }}</option>
                </select>
            </div>
         </div>
 
         <!--*********************** last turnover **************************** -->
        <div class="slide7" *ngIf="test.active.step == 7">
          <div class="colum1">
            <div class="image"><img src="assets/photos/8.png" height="30%" alt=""></div>
            <div class="test">
                <h1>Dernier chiffre d'affaires réalisé ?</h1>
            </div>
          </div>
          <div class="colum2">
            <div class="__range __range-step">
            <input class="slider"  step="1" min="0" max="test.data[test.active.step].range.length-1"  formControlName="lastTurnover" type="range" list="tickmarks">

            <datalist id="tickmarks">
                <option *ngFor="let item of test.data[7].labels " value="item">{{ item }}</option>
            </datalist>
             </div>
          </div>
        </div>
 
        <!--*********************** nombre de salarie **************************** -->
        <div class="slide8" *ngIf="test.active.step == 8">
            <div class="image"><img src="assets/photos/9.png" height="30%" alt=""></div>
            <div class="test">
                <h1>Nombre de salariés ?</h1>
                <select  placeholder="choisir un Nombre de salariés" formControlName="personneSal">
                    <option  *ngFor="let item of test.data[test.active.step].options ">{{ item }}</option>
                </select>
            </div>
        </div>
<div *ngIf="test.active.step == 9">
    <div *ngIf="test.active.subStepCat == 1">
         <!--*********************** have site **************************** -->
         <div class="slide9" *ngIf="test.active.subStep == 1" >
            <div class="image"><img src="assets/photos/10.png" height="30%" alt=""></div>
            <div class="test">
                <h1>Avez vous un site internet pour votre entreprise ?</h1>
                <mat-radio-group aria-label="Select an option" formControlName="haveSite">
                    <mat-radio-button value="oui">Oui</mat-radio-button>
                    <mat-radio-button value="non">Non</mat-radio-button>
                  </mat-radio-group>
            </div>
        </div>

          <!--*********************** type site **************************** -->
          <div class="slide10" *ngIf="test.active.subStep == 2">
            <div class="image"><img src="assets/photos/11.png" height="30%" alt=""></div>
            <div class="test">
                <h1>Quel est votre type de site internet ?</h1>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">E-commerce</mat-radio-button>
                    <mat-radio-button value="2">Vitrine</mat-radio-button>
                    <mat-radio-button value="3">Market-place</mat-radio-button>
                  </mat-radio-group>
                  <div class="block">
                      <div class="sousBlock">
                        <p>Nombre de Vente</p>
                        <div class="qty">
                        <input type="text" value="+50%"    >
                        <div class="qtyBtn">
                        <button  mat-stroked-button color="primary">+</button>
                        <button  mat-stroked-button color="primary">-</button>
                        </div>
                        </div>
                      </div>
                      <div class="sousBlock">
                        <p>Nombre de Visite</p>
                        <div class="qty">
                        <input type="text" value="+10%"    >
                        <div class="qtyBtn">
                        <button  mat-stroked-button color="primary">+</button>
                        <button  mat-stroked-button color="primary">-</button>
                        </div>
                        </div>
                      </div>
                      <div class="sousBlock">
                        <p>Nombre d'utilisateurs</p>
                        <div class="qty">
                        <input type="text" value="+1000%"    >
                        <div class="qtyBtn">
                        <button  mat-stroked-button color="primary">+</button>
                        <button  mat-stroked-button color="primary">-</button>
                        </div>
                        </div>
                      </div>
                  </div>
            </div>
        </div>

        <!--*********************** lien de site **************************** -->
        <div class="slide11" *ngIf="test.active.subStep ==3">
            <div class="image"><img src="assets/photos/12.png" height="30%" alt=""></div>
            <div class="test">
                <h1>Lien du site ?</h1>
                <input type="text" >
            </div>
        </div>

          <!--*********************** date development **************************** -->
          <div class="slide12" *ngIf="test.active.subStep == 4">
            <div class="image">
                <h1>Dâte de développement ?</h1>
                <img src="assets/photos/13.png" alt="">
            </div>
            <div class="test">
                <select name="" id="">
                    <option value="">Chéque numérique et aide numérique de votre région</option>
                </select>
            </div>
         </div>

        <!--***********************lien agence **************************** -->
        <div class="slide13" *ngIf="test.active.subStep == 5">
        <div class="image"><img src="assets/photos/12.png" height="30%" alt=""></div>
        <div class="test">
            <h1>L'agence qui a développé votre site ?</h1>
            <input type="text" >
            <mat-radio-button value="1">Internet/Freelance</mat-radio-button>

        </div>
        </div>
    </div>
    <div *ngIf="test.active.subStepCat == 2">
         <!--*********************** have crm **************************** -->
         <div class="slide14" *ngIf="test.active.subStep == 1">
            <div class="image"><img src="assets/photos/17.png" height="30%" alt=""></div>
            <div class="test">
                <h1>Utilisez-vous des Plate-formes en ligne ou des logiciels pour faciliter vos ventes ?</h1>
                <mat-radio-group aria-label="Select an option"  formControlName="haveCrm">
                    <mat-radio-button value="oui">Oui</mat-radio-button>
                    <mat-radio-button value="non">Non</mat-radio-button>
                  </mat-radio-group>
            </div>
        </div>

         <!--*********************** type crm **************************** -->
         <div class="slide15" *ngIf="test.active.subStep == 2">
            <div class="image">
                <h1>Quels types d'outils utilisez-vous pour vos ventes ?</h1>
                <p>(Exemple:un CRM)</p>
            </div>
            <div class="test">
                <select name="" id="">
                    <option value=""><img src="assets/photos/logo-sage.png" height="20px" alt=""> Sage</option>
                </select>
            </div>
         </div>

         
         <!--*********************** have erp **************************** -->
         <div class="slide16" *ngIf="test.active.subStep == 3">
            <div class="image"><img src="assets/photos/14.png" height="30%" alt=""></div>
            <div class="test">
                <h1>Utilisez-vous des Plate-formes en ligne ou des logiciels pour faciliter votre logistique interne ?</h1>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Oui</mat-radio-button>
                    <mat-radio-button value="2">Non</mat-radio-button>
                  </mat-radio-group>
            </div>
        </div>

         <!--*********************** type erp **************************** -->
         <div class="slide17" *ngIf="test.active.subStep == 4">
            <div class="image">
                <h1>Quels types d'outils utilisez-vous pour votre logistique ?</h1>
                <p>(Exemple:un ERP)</p>
            </div>
            <div class="test">
                <select name="" id="">
                    <option value=""><img src="assets/photos/logo-sage.png" height="20px" alt=""> Sage</option>
                </select>
            </div>
         </div>
    </div>
</div>

   <!--*********************** service **************************** -->
   <div class="slide27" *ngIf="test.active.step == 10">
    <div class="image">
    </div>
    <div class="test">
        <label for="">Service</label>
        <input type="text">
       <div class="contentTab">
        <mat-list>
            <mat-list-item *ngFor="let item of transition">
              <mat-icon mat-list-icon>folder</mat-icon>
              <h4 mat-line>{{item.name}}</h4>
              <mat-radio-group aria-label="Select an option"  formControlName="service">
              <mat-radio-button value={{ item.id }}></mat-radio-button>
            </mat-radio-group>
            </mat-list-item>
        </mat-list>
       </div>
    </div>
 </div>
           <!--*********************** budget **************************** -->
           <div class="slide18" *ngIf="test.active.step == 11">
            <div class="image">
                <h1>Budget d'investissement</h1>
                <img src="assets/photos/7.png" alt="">
            </div>
            <div class="test">
                <select name="" formControlName="budget">
                    <option value="300">300$</option>
                    <option value="400">400$</option>
                    <option value="500">500$</option>
                    <option value="600">600$</option>
                </select>
            </div>
         </div>

          <!--*********************** siret **************************** -->
          <div class="slide19" *ngIf="test.active.step == 12">
            <div class="image"><img src="assets/photos/18.png" height="30%" alt=""></div>
            <div class="test">
                <h1>Numéro de Siret</h1>
                <input type="text" formControlName="siret" placeholder="EX: 13168813881">
            </div>
         </div>

          <!--*********************** adresse **************************** -->
          <div class="slide20" *ngIf="test.active.step == 13">
            <div class="image"><img src="assets/photos/19.png" alt=""></div>
            <div class="test">
                <h1>Adresse</h1>
                <div class="block1">
                <label for="">Adresse</label>
                <input type="text" formControlName="adresse" >
                </div>
                <div class="block2">
               <label for="">ville</label> <input type="text" formControlName="city">
                <label for="">code postal</label><input type="text" formControlName="zipcode">
                </div>
            </div>
         </div>

          <!--*********************** rensignement **************************** -->
          <div class="slide26" *ngIf="test.active.step == 14">
            <div class="image">
                <h1>Fiche de rensignement</h1>
                <img src="assets/photos/20.png" alt="">
            </div>
            <div class="test">
                <div class="block1">
                <label for="">Nom</label>
                <input type="text" formControlName="nom">
                </div>
                <div class="block1">
                    <label for="">Prénom</label>
                    <input type="text" formControlName="prenom">
                    </div>
                <div class="block1">
                    <label for="">mail</label>
                    <input type="text" formControlName="email">
                    </div> <div class="block1">
                <label for="">Numéro de portable</label>
                <input type="text" formControlName="phone">
                </div>
                <div class="block1">
                    <label for="">Numéro d'entreprise</label>
                    <input type="text" formControlName="phoneEntrep">
                    </div>
                <div class="block2">
                    <mat-radio-group aria-label="Select an option" formControlName="post">
                        <mat-radio-button value="Gérant">Gérant</mat-radio-button>
                        <mat-radio-button value="Associé">Associé</mat-radio-button>
                        <mat-radio-button value="Dirécteur">Dirécteur</mat-radio-button>
                        <mat-radio-button value="autre">autre</mat-radio-button>
                      </mat-radio-group>
                </div>
            </div>
         </div>

           <!--*********************** felicitaton1 **************************** -->
           <div class="slide21" *ngIf="test.active.step == 15" >
            <div class="image"><img  src="assets/photos/21.png" alt=""></div>
            <div class="test">
                <h1>Félicitaion</h1>
                <h1>vous êtes éligible</h1>
                <img src="assets/photos/24.png" alt="">
                <p>Vous béneficiez d'un <strong>Chèque Numérique</strong></p>
                <p>de <strong class="prix">{{test.result.cpn.amount}} €</strong></p>
                <p>offert par le <strong>CPN</strong></p>
                <img src="assets/photos/22.png" alt="">

            </div>
            <div class="nextIcon" (click)="nextStep()"><img src="assets/photos/23.png" alt=""></div>
         </div>

           <!--*********************** felicitaton2 **************************** -->
           <div class="slide21" *ngIf="test.active.step == 16">
            <div class="image"><img  src="assets/photos/21.png" alt=""></div>
            <div class="test">
                <h1>Félicitaion</h1>
                <h1>vous êtes éligible</h1>
                <img src="assets/photos/24.png" alt="">
                <p>Vous béneficiez d'un <strong>Chèque commerce connecté</strong></p>
                <p>de <strong class="prix">5000 $</strong></p>
                <p>offert par le <strong>CPN</strong></p>
                <img src="assets/photos/22.png" alt="">

            </div>
            <div class="nextIcon" (click)="nextStep()"><img src="assets/photos/23.png" alt=""></div>
         </div>

         
           <!--*********************** failed **************************** -->
           <div class="slide21" *ngIf="test.active.step == 17">
            <div class="image"></div>
            <div class="test">
                <h1  class="faild">Malheureusement</h1>
                <h1  class="faild">vous n'êtes pas éligible</h1>
                <img src="assets/photos/25.png"  alt="">
                <p>à l'aide de votre région</p>
            </div>
            <div class="nextIcon" (click)="nextStep()"><img src="assets/photos/23.png" alt=""></div>
           </div>

            <!--***********************agenda **************************** -->
        <div class="slide24" *ngIf="test.active.step == 18">
            <div class="image"><img src="assets/photos/27.png" height="30%" alt=""></div>
            <div class="test">
                <h1>Vos disponibilités</h1>
                <div class="calend">
                     <full-calendar   #fullcalendar [options]="calendarOption"
                     style="width:100%;"></full-calendar> 
                   </div>                 
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Entretien vidéo direct</mat-radio-button>
                    <mat-radio-button value="2">Visite de courtoisie</mat-radio-button>
                  </mat-radio-group>    
            </div>
            </div>

             <!--*********************** felicitaton3 **************************** -->
           <div class="slide25" *ngIf="test.active.step == 25">
            <div class="image"></div>
            <div class="test">
                <img src="assets/photos/28.png" alt="">
                <br>
                <p>Félicitaion</p>
                <p>Un conseiller entrera en contact avec</p>
                <p> vous dans 30min</p>
                <br>
            </div>
            <div class="nextIcon">
                <p>Suivez-nous</p>
                <div class="socialMedia">
                 <img src="assets/photos/icone-Facebook.png" alt="">
                 <img src="assets/photos/icone-Instagram.png" alt="">
                 <img src="assets/photos/icone-Linkedin.png" alt="">
                 <img src="assets/photos/icone-youtube.png" alt="">
                </div>
            </div>
         </div>
        </form>
    </div>
    <div class="footer">
        <div class="left"><a  [routerLink]="'/cpn/Home'" ><img src="assets/images/logo/logo.png" alt=""></a></div>
        <div class="center" *ngIf="test.active.step!=0">
            <a (click)="prevStep()"><mat-icon class="iconNex" matSuffix >arrow_back_ios</mat-icon></a>
            <div class="listP">
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==1  }" class="point" matSuffix >circle</mat-icon></a>
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==2  }" class="point" matSuffix >circle</mat-icon></a>
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==3  }" class="point" matSuffix >circle</mat-icon></a>
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==4  }" class="point" matSuffix >circle</mat-icon></a>
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==5  }" class="point" matSuffix >circle</mat-icon></a>
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==6  }" class="point" matSuffix >circle</mat-icon></a>
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==7  }" class="point" matSuffix >circle</mat-icon></a>
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==8  }" class="point" matSuffix >circle</mat-icon></a>
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==9  }" class="point" matSuffix >circle</mat-icon></a>
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==10  }" class="point" matSuffix >circle</mat-icon></a>
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==11 }" class="point" matSuffix >circle</mat-icon></a>
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==12  }" class="point" matSuffix >circle</mat-icon></a>
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==13  }" class="point" matSuffix >circle</mat-icon></a>
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==14  }" class="point" matSuffix >circle</mat-icon></a>
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==15  }" class="point" matSuffix >circle</mat-icon></a>
                <a><mat-icon [ngClass]="{checkIcon:test.active.step==16  }" class="point" matSuffix >circle</mat-icon></a>
            </div>
            <a (click)="checkForm(test.active.step)"><mat-icon class="iconNex" matSuffix >arrow_forward_ios</mat-icon></a>
        </div>
    </div>
</div>