.headerToolbar .dayGridMonth{
 background-color: aqua;   
}
.calend{
    display: flex;
    flex-direction:column ;
    justify-content:center;
    align-items: center;
}
mat-spinner{
    top:250px
}
.modal{
height: 100%;
}
.modal-header{ 
    /* box-sizing: content-box; */
    /* height: 48px; */
    background: rgb(47, 11, 133);
    border-color: red;
    /* border-style: solid; */
    border-width: 2px 2px 7px 2px;
    border-radius: 0 0 100px 0;
    position: relative;
}
    

