<div class="col-sm-12 calend">
   <mat-spinner *ngIf="events ==null"></mat-spinner>
    <full-calendar  *ngIf="calendarOption" #fullcalendar [options]="calendarOption"
    style="width:100%;"></full-calendar> 
  
  </div>


  
<!--Modal PopUp with Add Event Form-->
<div class="modal" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
              <h4 class="modal-title align-center"> <h3>topic</h3> </h4>
          </div>

          <div class="modal-body">
            <div class="titre">
              <h3>title : {{ event?.title }}</h3>
              <h3>nomcomplet </h3>
            </div>
            <div class="link">
              <button>lienzoom</button>
            </div>
            <div class="date">
              <h3>date rendvous</h3>
              <h3>type</h3>
            </div>
            <div class="info">
              <h3>description</h3>
                   <h3>contact</h3>
                   <h3>adress</h3>
            </div>
            
          </div>
      </div>
  </div>
</div>

