.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.sidenav .mat-icon{
  margin: 10px;
}
.sidenav .routeIcon{
  left: 30px;
  margin: 0 10px 0 0;
}

.blockTop{
  display: flex;
  flex-direction:column ;
  justify-content:center;
  height: fit-content;
  margin: 10px 0 0 0;
}
.image{
  display: flex;
  flex-direction:row ;
  justify-content:center;
  margin: 0;
}
img{
  border-radius: 50px;
  margin: 0; 
}
h2{
  font-weight: bold;
    font-size: 15px;
    margin: 0;
}
.fullName{
  display: flex;
  flex-direction:row ;
  justify-content:center;
  margin:  0 0 -10px 0;
}
.level{
  display: flex;
  flex-direction:row ;
  justify-content:center;
  margin:0;
}
p{
  font-size: 15px;
}
.nav{
  display: flex;
  flex-direction:row ;
  justify-content:space-between;
  background-color: rgb(18, 2, 90);
}
