<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="blockTop">
         <div class="image"><img src="assets/images/logo/logo.png" class="logo" alt=""></div>
         <div class="fullName"><h2>{{ profile.first_name | uppercase }} {{ profile.last_name | uppercase  }}</h2></div>
         <div class="level"><p>conseiller</p></div>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'"> <mat-icon matSuffix >dashboard</mat-icon>Dashboard</a>
      <a mat-list-item [routerLink]="'profile'"> <mat-icon matSuffix> account_circle</mat-icon> Profile</a>
      <a mat-list-item [routerLink]="'test'"> <mat-icon matSuffix >assignment</mat-icon>Test d'éligibilité</a>

      
      <!---Drop Down side bar -->
        <a mat-list-item [ngStyle]="{'padding-left':'12px'}" (click)="onItemSelected1()">
        <mat-icon class="routeIcon">person</mat-icon>
        commercial
      
        <span fxFlex></span>
        <div class="arrow" >
          <div class="point"></div>
        </div>
      
        <span fxFlex>
          <span fxFlex></span>
        <mat-icon [@indicatorRotate]="expanded1 ? 'expanded1': 'collapsed1'">
          expand_more
        </mat-icon>
        </span>
      </a>
      <div >
        <app-menu-list-item   *ngIf="expanded1">
          <a mat-list-item [routerLink]="'commercial/agendaC'"> <mat-icon matSuffix >date_range</mat-icon>Agenda</a>
          <a mat-list-item [routerLink]="'commercial/repertoir'"> <mat-icon matSuffix >assignment_ind</mat-icon>Répartoire</a>
          <a mat-list-item [routerLink]="'commercial/leadContact'"> <mat-icon matSuffix >podcasts</mat-icon>Lead contact</a>
        
        </app-menu-list-item>
      </div>
      <!--End of dropdown-->

        
      <!---Drop Down side bar -->
      <a mat-list-item [ngStyle]="{'padding-left':'12px'}" (click)="onItemSelected2()">
        <mat-icon class="routeIcon">supervisor_account</mat-icon>
        Supervisor
      
        <span fxFlex></span>
        <div class="arrow" >
          <div class="point"></div>
        </div>
      
        <span fxFlex>
          <span fxFlex></span>
        <mat-icon [@indicatorRotate]="expanded2 ? 'expanded2': 'collapsed2'">
          expand_more
        </mat-icon>
        </span>
      </a>
      <div >
        <app-menu-list-item   *ngIf="expanded2">
          <a mat-list-item [routerLink]="'supervisor/agendaS'"> <mat-icon matSuffix >date_range</mat-icon>Calendrier</a>
          <a mat-list-item [routerLink]="'supervisor/client'"> <mat-icon matSuffix >switch_account</mat-icon>Client</a>
        
        </app-menu-list-item>
      </div>
      <!--End of dropdown-->
     
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar  class="nav">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     <h1></h1>
      <button mat-icon-button color="warn"  (click)="logout()" class="logout" aria-label="Example icon button with a heart icon">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
