.etape0{
width: 100%;
height: 100%;
display: flex;
flex-direction:column ;
justify-content:center;
}
.headre{
width: 100%;
height: 100px;
display: flex;
flex-direction:row ;
justify-content:space-between;
}
.exit{
    display: flex;
flex-direction:column ;
align-items: center;
}
.bienvenue h1{
    font-weight: bold;
}
.time{
    display: flex;
    flex-direction:column ;
    align-items: center;
}
.body{
    width: 100%;
height: 100%;
display: flex;
flex-direction:column ;
justify-content:center;
align-items: center;
}
.drapeaux{
    display: flex;
    flex-direction:row ;
  justify-content: space-between;
  width: 70%;
  height: 100px;
}
.drapeaux img{
    height: 100px;
}
.blockLogo{
    display: flex;
    flex-direction:row ;
  justify-content: space-between;
  width: 50%;
  height: 150px;
  margin: 20px;
}
.logo{
    width: 100%;
    display: flex;
    flex-direction:row ;
  justify-content: center;
  align-items: center;
}
.logo img{
    width: 50px;
}
.commencer{
    display: flex;
    flex-direction:row ;
  justify-content: space-between;
}
.commencer button{
    font-size: 17px;
    width: 100%;
    height: 100%;
    padding: 8px;

}

mat-form-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
.titre{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    font-size: 25px;
}

.status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
margin-top: 50px;
}
.status button{
    width: 10%; 
    height: 50px;   
}


.butttonREd{
    background-color: rgb(206, 0, 0);
    color: white;
}
.status button:hover{
    background-color: rgb(145, 136, 136);
    color: white;
}
.activite
{
    display: flex;
    flex-direction:column ;
    justify-content: center;
     width: 100%;
     height:100%;
}
.activite ng-select{
    width: 1200px;
  
}
.slider{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.transition {
    width: 96%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
mat-slider{
    
    width: 100%;
    height: 100px;
}
.etat
{
    display: flex;
    flex-direction:column ;
    justify-content: center;
     width: 100%;
     height:100%;
}
.etat ng-select{
    width: 1200px;
  
}
.siteweb{
    display: flex;
    flex-direction:row ;
    justify-content: center;
}
.siteweb button{
    margin: 0px 20px 0 20px;
    width: 100px;
    height: 40px;
    display: flex;
    flex: auto;
    justify-content: center;

}
.siteweb button:focus{
    background-color: rgb(206, 0, 0);
    color: white;
}
.siteweb button:hover{
    background-color: rgb(145, 136, 136);
    color: white;
}
.typesite{
    display: flex;
    flex-direction:row ;
    justify-content: center;
}
.typesite button{
    margin: 0 20px 0 20px;
    width: 200px;
    height: 40px;

}
.typesite button:focus{
    background-color: rgb(206, 0, 0);
    color: white;
}
.typesite button:hover{
    background-color: rgb(145, 136, 136);
    color: white;
}
.crmdev{
    display: flex;
    flex-direction:row ;
    justify-content: center;
}
.crmdev button{
    margin: 0 20px 0 20px;
    width: 200px;
    height: 40px;

}
.crmdev button:focus{
    background-color: rgb(206, 0, 0);
    color: white;
}
.crmdev button:hover{
    background-color: rgb(145, 136, 136);
    color: white;
} 
.cas{
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.bloc{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
}
.bloc mat-form-field {
    margin: 20px;
}
.blokIdentif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.sousBlock{
    display: flex;
    flex-direction: row;
    justify-content: start; 
    align-items: flex-start; 
}
.sousBlock mat-form-field{
    width: 535px;
    margin-right: 10px;
}
.sousBlock ng-select{
    width: 395px;
    margin-right: 10px;
    height: 50px;
    margin-top: 4px;
    border-color: unset;
}
.sousBlock  ng-select-container{
    height: 50px;
    margin-top: 4px;
    border-color: unset;
}
form{
    height: 100%;
    width: 100%;
    display: flex;
}
mat-list-item h3{
    color:crimson;
}
mat-list-item h4{
    color: black;
    font-size: small;
}

 p{
    color: rgb(138, 136, 136);
    font-size: medium;
}
mat-tab-group{
    width: 96%;
    height: 450px;
}
.mat2{
    width: 100%;
    height: 400px;
    
}
.secondMat{
    overflow: hidden;
}
mat-tab-group mat-tab {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: auto;
    flex-direction: row;
}

mat-tab-header {
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: auto;
    flex-direction: row;
}
/************************************** nouvelle designe *********************************/

.card{
    display: flex;
    flex-direction:column ;
    justify-content:center;
    background-color: rgb(253, 253, 253);
    height: 600px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1000;

}
.card .header{
    display: flex;
    flex-direction:row ;
    justify-content:center;
    height: 50px;
    width: 100%;
    margin: 20px;
}
.card .content{
    display: flex;
    flex-direction:row ;
    justify-content:start;
    margin: 20px;
    height: 100%;
    width: 100%;
}
.card .footer{
    display: flex;
    flex-direction:row ;
    justify-content:flex-end;
    width: 100%;
    bottom: 0;

}
.card  strong{
    color: red;
    display: flex;
    flex-direction:row ;
    justify-content:flex-start;
    margin-left: 20px;
    font-size: small;
}
.card .footer button{
    margin-right: 20px;
}




.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom ::ng-deep .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}
ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}



/*********************************** modal *********************************/
.modal-dialog{
    width: 500px;
}
.modal-content{
    width: 600px;
    /*height: 400px;*/
} 
.modal-header{
    background: darkblue;
    color: white;
    font-size: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
}
.felec1{
    color: rgb(22, 139, 32);
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.felec2{
    color: rgb(22, 139, 32);
    font-size: 20px;
    order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.felec3{
    color: rgb(22, 139, 32);
    font-size: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    order: 3;
    width: 100%;
    margin-top: -10px;
}
.felec4{
    color: rgb(34, 22, 139);
    font-size: 28px;
    text-align: center;
    order: 4;
    margin-top: 20px;
}
.felec5{
    color: rgb(168, 8, 8);
    font-size: 40px;
    font-weight: bold;
    order: 5;
    margin-top: -40px;
}
.iconNex{
    color: rgb(22, 139, 32);
}
.modal-footer{
    display: flex;
    flex: auto;
}