<div class="etape0">
    <div class="headre">
        <div class="time"><h3 *ngIf="!testStart"> -- : --</h3>
            <h3 *ngIf="testStart">  <countdown [config]="{ leftTime: 300, format: 'm:s' }"></countdown></h3></div>
        <div class="bienvenue">
          <h1 class="titre" *ngIf="test.active.step != 9">{{test.data[test.active.step].title}} etap {{ test.active.step }}</h1>
          <h1 class="titre" *ngIf="test.active.step == 9 && test.active.subStepCat == 1">{{test.data[test.active.step].website[test.active.subStep].title}} etap {{ test.active.step }}</h1>
          <h1 class="titre" *ngIf="test.active.step == 9 && test.active.subStepCat == 2">{{test.data[test.active.step].crm[test.active.subStep].title}} etap {{ test.active.step }}</h1>
        </div>
        <div class="exit"><button mat-stroked-button color="warn" (click)="fermer()">FERMER <mat-icon matSuffix >logout</mat-icon></button></div>
    </div>
    <div class="body" *ngIf="!testStart">
      <div class="drapeaux">
          <img src="assets/images/flags/france.png" alt="france">
          <img src="assets/images/flags/switzerland.png" alt="switzerland">
          <img src="assets/images/flags/germany.png" alt="germany">
          <img src="assets/images/flags/canada.png" alt="canada">
      </div>
      <div class="blockLogo">
          <div class="logo">
             <img src="assets/images/icon/company.png" alt="company">
             <p>Entreprise</p>
          </div>
          <div class="logo">
            <img src="assets/images/icon/agency.png" alt="agency">
            <p>Agences</p>
         </div>
         <div class="logo">
            <img src="assets/images/icon/collectivity.png" alt="collectivity">
            <p>Collectivités</p>
         </div>
      </div>
     
      <div class="commencer"> <button mat-stroked-button color="primary" (click)="commencerTest()">Commmencer le test <mat-icon matSuffix >arrow_circle_right</mat-icon></button></div>
    </div>
    <!-- **********************les etapes testes****************************** -->
    <div class="body" *ngIf="testStart">

<!--Modal PopUp with Add Event Form-->

<div class="card">
  
    <div class="content">
        <form [formGroup]="codePFormGroup" >
          
         <!--  <mat-form-field class="example-full-width" appearance="fill">
            <input matInput [matDatepicker]="year"  placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="year"></mat-datepicker-toggle>
            <mat-datepicker #year startView="multi-year" activeView="year" ></mat-datepicker>
          </mat-form-field> -->
       
        

           <mat-form-field appearance="outline"  *ngIf="test.active.step == 1">
                <mat-label>code postal</mat-label>
                <input matInput maxlength="5" placeholder="code postal" formControlName="codeP" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="codePFormGroup.controls['codeP'].hasError('required')">
                    code postal is <strong>required</strong>
                  </mat-error>
              </mat-form-field> 

            <mat-form-field appearance="outline"  *ngIf="test.active.step == 2"  [errorStateMatcher]="matcher">
                <mat-label>nom societe</mat-label>
                <input matInput  placeholder="nom societe" formControlName="nomSoc">
                <mat-error *ngIf="codePFormGroup.controls['nomSoc'].hasError('required')">
                  nom societe is <strong>required</strong>
                </mat-error>
              </mat-form-field>

             
              <div class="status"  appearance="outline" *ngIf="test.active.step == 3">
                <button mat-raised-button [ngClass]="{butttonREd:  codePFormGroup.get('status').value === 'SARL'}" (click)="getstatus('SARL')" >SARL</button>
                <button mat-raised-button [ngClass]="{butttonREd:  codePFormGroup.get('status').value === 'SAS'}" (click)="getstatus('SAS')">SAS</button>
                <button mat-raised-button [ngClass]="{butttonREd:  codePFormGroup.get('status').value === 'SASU'}" (click)="getstatus('SASU')">SASU</button>
                <button mat-raised-button [ngClass]="{butttonREd:  codePFormGroup.get('status').value === 'EURL'}" (click)="getstatus('EURL')">EURL</button>
                <button mat-raised-button [ngClass]="{butttonREd:  codePFormGroup.get('status').value === 'MICRO-ENT'}" (click)="getstatus('MICRO-ENT')">MICRO-ENT</button>
                <button mat-raised-button [ngClass]="{butttonREd:  codePFormGroup.get('status').value === 'ARTISAN'}" (click)="getstatus('ARTISAN')">ARTISAN</button>
                <button mat-raised-button [ngClass]="{butttonREd:  codePFormGroup.get('status').value === 'INDIVIDUELLE'}" (click)="getstatus('INDIVIDUELLE')">INDIVIDUELLE</button>
              </div>

              <div class="activite"  *ngIf="test.active.step == 4">
                <fieldset class="form-group">
                  <ng-select [items]="activities?.data"
                             bindLabel="name"
                             placeholder="Choisir un activité"
                             (change)="onChange($event)"
                             formControlName="activite"
                             autofocus
                  >
                  </ng-select>
                </fieldset>
              </div>

              <div class="slider" *ngIf="test.active.step==5">
                <mat-slider
                thumbLabel
                [displayWith]="getTurnover"
                tickInterval="10"
                tickLabel="test.data[test.active.step].labels"
                min="-100"
                max="100"></mat-slider>
              </div>

              <div class="etat" *ngIf="test.active.step == 6">
                            <fieldset class="form-group">
                              <ng-select [items]="test.data[test.active.step].options"
                                         bindLabel="name"
                                         placeholder="choisir un etat"
                                         (change)="onChange($event)"
                                         formControlName="etat"
                                         autofocus
                              >
                              </ng-select>
                            </fieldset>
                </div>

              <div class="slider"  *ngIf="test.active.step == 7">
                <mat-slider
                thumbLabel
                [displayWith]="getLastTurnover"
                tickInterval="10"
                :tick-labels="test.data[test.active.step].labels"
                min="-100"
                max="100"></mat-slider>
              </div>

              <div class="etat" *ngIf="test.active.step == 8">
                <fieldset class="form-group">
                  <ng-select [items]="test.data[test.active.step].options"
                             bindLabel="name"
                             placeholder="choisir un Nombre de salariés"
                             (change)="onChange($event)"
                             formControlName="personneSal"
                             autofocus
                  >
                  </ng-select>
                </fieldset>
              </div>

            <div class="etat" *ngIf="test.active.step == 9">
                          <!-- ***************************Nombre de salariés de 0 à 5*************************  -->

                 <div class="cas" *ngIf="test.active.subStepCat == 1"> 
                              <div class="siteweb" *ngIf="test.active.subStep == 1">
                                <button mat-raised-button  [ngClass]="{butttonREd:  haveSite === 'oui'}"  (click)="getSite('OUI')">OUI</button>
                                <button mat-raised-button  [ngClass]="{butttonREd:  haveSite === 'non'}" (click)="getSite('NON')">NON</button>
                              </div>

                             <div class="bloc" *ngIf="test.active.subStep == 2">
                              <div class="typesite"  *ngIf="test.active.subStep == 2">  
                                <button mat-raised-button  [ngClass]="{butttonREd:   codePFormGroup.get('typeSite').value === 'E-COMMERCE'}" (click)="getTypeSite('E-COMMERCE')">E-COMMERCE</button>
                                <button mat-raised-button  [ngClass]="{butttonREd:   codePFormGroup.get('typeSite').value === 'VITRINE'}" (click)="getTypeSite('VITRINE')">VITRINE</button>
                                <button mat-raised-button  [ngClass]="{butttonREd:   codePFormGroup.get('typeSite').value === 'MRKET-PLACE'}" (click)="getTypeSite('MRKET-PLACE')">MRKET-PLACE</button>
                              </div>
                              <mat-form-field  appearance="outline" *ngIf="codePFormGroup.get('typeSite').value != ''">
                                <input matInput placeholder="visiteur" formControlName="siteVal" required>
                                <mat-error *ngIf="codePFormGroup.controls['siteVal'].hasError('required')">
                                  nom societe is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                          </div>
                            <mat-form-field appearance="outline" *ngIf="test.active.subStep == 3">
                                <input matInput placeholder="Ex. www.exemple.com" formControlName="liensite" required>
                                <mat-error *ngIf="codePFormGroup.controls['liensite'].hasError('required')">
                                  nom societe is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                              <mat-form-field appearance="outline" *ngIf="test.active.subStep == 4">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker" [formControl]="datesite">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                              </mat-form-field>
        
                            <mat-form-field *ngIf="test.active.subStep == 5">
                                <input matInput placeholder="Ex. 1235" formControlName="agence" required [errorStateMatcher]="matcher">
                                <mat-error *ngIf="codePFormGroup.controls['agence'].hasError('required')">
                                  code postal is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                      </div>
                      <!-- ***************************Nombre de salariés de 10 à 20*************************  -->
                      <div class="cas" *ngIf="test.active.subStepCat == 2">
                              <div class="siteweb" *ngIf="test.active.subStep == 1">
                                <button mat-raised-button  [ngClass]="{butttonREd:  haveCrm === 'oui'}"  (click)="getCrm('OUI')">OUI</button>
                                <button mat-raised-button  [ngClass]="{butttonREd:  haveCrm === 'non'}" (click)="getCrm('NON')">NON</button>
                              </div>

                              <div class="typesite"  *ngIf="test.active.subStep == 2">
                                <button mat-raised-button   [ngClass]="{butttonREd:   codePFormGroup.get('typeCRM').value === 'ERP'}" (click)="getTypeCrm('ERP')">ERP</button>
                                <button mat-raised-button   [ngClass]="{butttonREd:   codePFormGroup.get('typeCRM').value === 'CRM'}" (click)="getTypeCrm('CRM')">CRM</button>
                                <button mat-raised-button   [ngClass]="{butttonREd:   codePFormGroup.get('typeCRM').value === 'CRM-ERP'}" (click)="getTypeCrm('CRM-ERP')">CRM-ERP</button>
                              </div>

                              <div class="crmdev" *ngIf="test.active.subStep == 3">
                                <button mat-raised-button  [ngClass]="{butttonREd:  crmDev === 'INTERNE'}" (click)="getCrmDev('INTERNE')">INTERNE</button>
                                <button mat-raised-button  [ngClass]="{butttonREd:  crmDev === 'EXTERNE'}" (click)="getCrmDev('EXTERNE')">EXTERNE</button>
                              </div>
                       
                              <div class="etat" *ngIf="test.active.subStep == 4">
                                <fieldset class="form-group">
                                  <ng-select [items]="test.data[test.active.step].crm[test.active.subStep].options"
                                             bindLabel="name"
                                             placeholder="Sélectionner un ERP"
                                             (change)="onChange($event)"
                                             formControlName="typeERP"
                                             autofocus
                                  >
                                  </ng-select>
                                </fieldset>
                              </div>

                              <div class="etat" *ngIf="test.active.subStep == 5">
                                <fieldset class="form-group">
                                  <ng-select [items]="test.data[test.active.step].crm[test.active.subStep].options"
                                             bindLabel="name"
                                             placeholder="Sélectionner un CRM"
                                             (change)="onChange($event)"
                                             formControlName="typeCRM"
                                             autofocus
                                  >
                                  </ng-select>
                                </fieldset>
                              </div>

                              <mat-form-field appearance="outline" *ngIf="test.active.subStep == 6">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker" [formControl]="dateCrm">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                              </mat-form-field>
                          </div>
                    </div>
      
          <div class="transition"  *ngIf="test.active.step == 10">
            <mat-tab-group>
              <mat-tab  label="SERVICES ELIGIBLE"> 
                <mat-list>
                  <mat-list-item *ngFor="let elgible of elegible">
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <h3 mat-line>{{elgible.name}}</h3>
                    <h5 mat-line>MB{{elgible.budget}}</h5>
                    <p mat-line> {{elgible.desc }} </p>
                    <p mat-line> {{elgible.category }} </p>
                    <mat-checkbox [(ngModel)]="checked" (click)="check(elgible.id)"></mat-checkbox>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-list>
              </mat-tab>
              
              <mat-tab class="secondMat" label="SERVICES SUPLEMENTAIRE">
                <mat-tab-group class="mat2">
                  <mat-tab label="TOUS">
                    <mat-list>
                      <mat-list-item *ngFor="let transition of transition">
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h3 mat-line>{{transition.name}}</h3>
                        <h5 mat-line>MB{{transition.budget}}</h5>
                        <p mat-line> {{transition.desc }} </p>
                        <p mat-line> {{transition.category }} </p>
                        <mat-checkbox [(ngModel)]="checked" (click)="check(elgible.id)"></mat-checkbox>
                        <mat-divider></mat-divider>
                      </mat-list-item>
                    </mat-list>
                  </mat-tab>
                  <mat-tab label="GRAPHIQUE">
                    <mat-list>
                      <mat-list-item *ngFor="let graphic of graphic">
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h3 mat-line>{{graphic.name}}</h3>
                        <h5 mat-line>MB{{graphic.budget}}</h5>
                        <p mat-line> {{graphic.desc }} </p>
                        <p mat-line> {{graphic.category }} </p>
                        <mat-checkbox [(ngModel)]="checked" (click)="check(elgible.id)"></mat-checkbox>
                        <mat-divider></mat-divider>
                      </mat-list-item>
                    </mat-list>
                  </mat-tab>
                  <mat-tab label="DEVELOPPMENT">
                    <mat-list>
                      <mat-list-item *ngFor="let development of development">
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h3 mat-line>{{development.name}}</h3>
                        <h5 mat-line>MB{{development.budget}}</h5>
                        <p mat-line> {{development.desc }} </p>
                        <p mat-line> {{development.category }} </p>
                        <mat-checkbox [(ngModel)]="checked" (click)="check(elgible.id)"></mat-checkbox>
                        <mat-divider></mat-divider>
                      </mat-list-item>
                    </mat-list>
                  </mat-tab>
                  <mat-tab label="MONTAGE">
                    <mat-list>
                      <mat-list-item *ngFor="let montage of montage">
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h3 mat-line>{{montage.name}}</h3>
                        <h5 mat-line>MB{{montage.budget}}</h5>
                        <p mat-line> {{montage.desc }} </p>
                        <p mat-line> {{montage.category }} </p>
                        <mat-checkbox [(ngModel)]="checked" (click)="check(elgible.id)"></mat-checkbox>
                        <mat-divider></mat-divider>
                      </mat-list-item>
                    </mat-list>
                  </mat-tab>
                  <mat-tab label="MARKETING">
                    <mat-list>
                      <mat-list-item *ngFor="let marketing of marketing">
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h3 mat-line>{{marketing.name}}</h3>
                        <h5 mat-line>MB{{marketing.budget}}</h5>
                        <p mat-line> {{marketing.desc }} </p>
                        <p mat-line> {{marketing.category }} </p>
                        <mat-checkbox [(ngModel)]="checked" (click)="check(elgible.id)"></mat-checkbox>
                        <mat-divider></mat-divider>
                      </mat-list-item>
                    </mat-list>
                  </mat-tab>
                </mat-tab-group>
              </mat-tab>
            </mat-tab-group>   
            </div>
            
            <div class="slider"  *ngIf="test.active.step == 11">
            <mat-slider
            thumbLabel
            [displayWith]="getBudget"
            tickInterval="10"
            min="-100"
            max="100"></mat-slider>
            </div>
           
            <div class="blokIdentif" *ngIf="test.active.step == 12">
            <mat-form-field appearance="outline" >
                <input matInput placeholder="Numéro SIRET (siège)" #siret  (keyup)="onKey(siret.value)" formControlName="siret" required>
            </mat-form-field>
            <mat-form-field appearance="outline" >
              <input matInput placeholder="Numéro SIREN"  #siren formControlName="siren"  [readonly]="true">
          </mat-form-field>
          <mat-form-field appearance="outline" >
            <input matInput placeholder="Code naf/ape" formControlName="naf" required>
        </mat-form-field>
          </div>
          <div class="blokIdentif" *ngIf="test.active.step == 13">
            <mat-form-field  appearance="outline">
              <input matInput placeholder="Ex. rue ebn rochid" formControlName="adresse" required>
          </mat-form-field>
          <div class="sousBlock">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Ex. 4002" formControlName="zipcode" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Ex. sousse" formControlName="region" required>
      </mat-form-field>
    </div>
    <div class="sousBlock">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Ex. sousse" formControlName="city" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Ex. tunisie" formControlName="country" required>
  </mat-form-field>
  </div>
          </div>

          <div class="blokIdentif"  *ngIf="test.active.step == 14">
               <div class="sousBlock">
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Ex. ahmed" formControlName="prenom" required>
              </mat-form-field>
              <mat-form-field appearance="outline" >
                <input matInput placeholder="Ex. ali" formControlName="nom" required>
                </mat-form-field>
              </div>
              <div class="sousBlock">
                <mat-form-field appearance="outline" >
                  <input matInput placeholder="Ex. ali@gmail.com" formControlName="email" required>
                  </mat-form-field>
                  <mat-form-field appearance="outline" >
                    <input matInput placeholder="Ex. 1234558" formControlName="phone" required>
                </mat-form-field>
               </div>
               <div class="sousBlock">
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Ex. 12586369" formControlName="phoneEntrep" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-select placeholder="post" formControlName="post">
                    <mat-option *ngFor="let item of test.data[test.active.step].options" value="item">{{ item }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </div>
      </form>


    </div>
    <div class="footer">
      <button mat-stroked-button  color="primary" *ngIf="test.active.step > 1 && test.active.step < 15" (click)="prevStep()">PRECEDENT <mat-icon matSuffix >arrow_circle_left</mat-icon></button>
      <button mat-raised-button color="primary" data-toggle="modal" *ngIf="test.data.length-2 > test.active.step && test.active.step > 0" (click)="checkForm(test.active.step)">SUIVANT  <mat-icon matSuffix >arrow_circle_right</mat-icon></button>
  </div>
  <strong>* tous les champs est obligatoir</strong>

</div>

    </div>



    
</div>






<!--Modal PopUp with Add Event Form-->
<div class="modal" id="testEgib">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
              <h4 class="title">Résultat du Test d'égibilité</h4>
          </div>
          <div class="modal-body">
            <h1 class="felec1">Félicitation</h1>
            <p class="felec2">Vous étes éligible</p>
            <p class="felec3"><mat-icon style="font-size: 70px;" matSuffix >check_circle_outline</mat-icon></p>
            <p class="felec4">à une subvention <strong>immédiate</strong> offerte par le <strong>cpn</strong> d'un montant de </p>
            <strong class="felec5">350 $</strong>
          </div>

          <div class="modal-footer">
              <button mat-stroked-button > <mat-icon class="iconNex" matSuffix >arrow_circle_right</mat-icon></button>
          </div>
      </div>
  </div>
</div>
