section{
  margin-top: -50px;
  z-index: 2;
}

.float_actions {
    position: fixed;
    background: red;
    border-radius: 10px;
    left: 0;
    z-index: 5900;
    top: 35%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
}
 .float_actions .actions_content {
    padding: 0;
    margin: 0 0 -30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 .float_actions .actions_content .action_items {
    padding: 5px;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}
 .float_actions .actions_content .action_items::before{
 content: ">";
 position: absolute;
 right: -10px;
 top: 15%;
color: white;
font-size: 20px;
width: 40%;
font-weight: bold;
}

 .float_actions .actions_content .action_items:hover:after{
 content: "Testez mon égibilité";
 cursor:url(http://localhost:4200/cpn/Actualite);
position: absolute;
right: -180px;
top: 15%;
color: black;
font-size: 17px;
width: 40%;
background: white;
width: 180px;
border-radius: 25px;
text-align: center;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
}

 .float_actions .actions_content .action_items .item_href {
    text-decoration: none;
    display: block;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
}
 .float_actions .actions_content .action_items .item_href .ihref_logo {
    width: 100px;
    height: 100px;
    margin-left: 25px;
}
 .float_actions .actions_content .action_items .item_href .ihref_text {
    text-align: center;
    margin: 0;
    color: white;
    margin-top: 7px;
}


    
    
    
    
    
    
    /*****************************************responsive css *************************************************/
    @media screen and (max-width: 768px) {

   
      
          .float_actions{
          position: fixed;
      background: red;
      border-radius: 10px;
      left: 0;
      top: 35%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3%;
      height: 5%;
        }
          .float_actions::after{
          content: ">";
          color: white;
          position: fixed;
      background: red;
      border-radius: 10px;
      left: 0;
      top: 35%;
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5%;
      height: 5%;
      font-weight: bold;
      font-size: 20px;
      
        }
          .float_actions:hover:after{
          content: ">";
          color: white;
          position: fixed;
      background: red;
      border-radius: 10px;
      left: 0;
      top: 35%;
      padding: 10px;
      display: none;
      justify-content: center;
      align-items: center;
      width: 3%;
      height: 5%;
        }
         .float_actions .actions_content {
          padding: 0;
          margin: 0 0 -30px 0;
          display: none;
          flex-direction: column;
          justify-content: space-between;
       }
          .float_actions:hover{
          position: fixed;
          background: red;
          border-radius: 10px;
          left: 0;
          top: 35%;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20%;
          height: 23%;
          z-index: 99999;
        }
      
        .float_actions:hover .actions_content {
        padding: 0;
        margin: 0 0 -30px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      

      
      
      }