
    
    <section class="actuality mb-5">
      <div class="float_actions">
          <ul class="actions_content">
              <li class="action_items">
                  <a class="item_href" href="cpn/Home_tpe_pme">
                      <i class="ihref_logo"><img width="40%" src="assets/img/Entreprise.png" alt=""></i>
                      <p class="ihref_text">Entreprise</p>
                  </a>
              </li>
              <li class="action_items">
                  <a class="item_href" href="/cpn/agence">
                      <i class="ihref_logo"><img width="40%" src="assets/img/Agence.png"></i>
                      <p class="ihref_text">Agence</p>
                  </a>
              </li>
              <li class="action_items">
                  <a class="item_href" href="/cpn/Home_collectivite">
                      <i class="ihref_logo"> <img width="40%" src="assets/img/Collectivité.png"> </i>
                      <p class="ihref_text">Collectivites</p>
                  </a>
              </li>
          </ul>
      </div>
    </section>
    
 