
<nav class="navbar navbar-expand-lg nav_g">
  <a class="navbar-brand" [routerLink]="'/home'">
  <img class="brand_logo d-inline-block align-text-top nav_img" src="assets/cpnimages/sitecpn/logo-cpn.gif" alt="Logo">  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <i class="far fa-bars navbar-toggler-icon" style="color:white;z-index:1"></i>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto topnav" >
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="'/home'">Acceuil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'Actualite'">Actualité</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'Subvention'" >  Subvention</a>

      </li>
      <li class="nav-item" >
        <a *ngIf="!connect " class="nav-link" [routerLink]="'agenda'"   > Agenda +</a>
        <a *ngIf="connect " class="nav-link" [routerLink]="'calendar'"  > Agenda +</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  href="">A propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'Contact'"> Contactez-nous</a>
      </li>
      <li class="nav-item" >
        <a *ngIf="!connect " class="nav-link" [routerLink]="'Inscription'"> Inscription</a>
      </li>
      <li class="nav-item" >
        <a *ngIf="!connect " class="nav-link con" [routerLink]="'Connexion'"> Connexion</a>
      </li>
      <li class="nav-item" >
        <a *ngIf="connect " class="nav-link con" (click)='logout()'> logout</a>
      </li>
    </ul>

  </div>
</nav>


