body{
  background: #f7f7ff !important;
  margin-top:20px !important;
}
.card {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  min-width: 0 !important;
  word-wrap: break-word !important;
  background-color: #fff !important;
  background-clip: border-box !important;
  border: 0 solid transparent !important;
  border-radius: .25rem !important;
  margin-bottom: 1.5rem !important;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%) !important;
}
.me-2 {
  margin-right: .5rem !important;
}
.main-body{
  padding: 15px !important;

}
