<div  class="primary_body mb-5">
    <div class="home_container">
      <section class="section_heading mb-3">
        <div class="heading_wrapper container-fluid g-0">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="row g-0 justify-content-center">
                        <div class="col-auto">
                            <div class="img_wrapper">
                                        <img class="heading_img" src="assets/img/22.png" 
                                        alt="" style="margin-top: -76px;margin-left: -8px;">
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
    
                <div class="col-md-6 p-3">
                    <div class="row g-0 justify-content-start">
                        <div class="col-md-auto">
                            <h2 class="title_heading">AGENCES</h2>
                            <h4 class="desc_heading">Outils d'accompagnement de vos clients</h4>
                                    <div class="search_bloc">
                                        <form class="search">
                                            <input class="search__input" placeholder="Quel type de subvention souhaitez vous" 
                                            >
                                        </form>
                                    </div>
                        </div>
                    </div>
    
                    <div class="carre">
                        <div class="row">
                            <div class="col" style="display: initial;flex-direction: row;padding: 8px;">
                                <img src="assets/img/I.png" style="width: 10%; margin: 0 0 0 30px;" alt="">
                                <span style="margin-left: 4px;font-size: 13px;">Followers</span>
                                <h4 style="text-align: center; margin: 0 90px 0 0;">1500K</h4>
                                <p style="text-align: center;font-size: 12px;margin: 0 0px 0 -45px;"><a style="color:#00FF00;">2.1%</a>vs last 7 days</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="our_success mb-3">
      <div class="success_wrapper container px-4 g-0">
          <div class="row g-0">
    
              <div class="col-md-6 py-2">
                  <h5 class="success_txt">Notre succés</h5>
                  <h3 class="success_desc">Peut importe votre secteur d'acitivité nous vous offrons une
                      subvention</h3>
              </div>
              <div class="col-md-6 py-2 chiffre" >
                  <ul class="success_list">
                      <li class="success_item">
                          <h3 class="k"><span class="item_num">562</span>K</h3>
                          <p class="item_desc">Entreprises</p>
                      </li>
                      <li class="success_item">
                          <h3 class="k"><span class="item_num">10</span>K</h3>
                          <p class="item_desc">Subventions</p>
                      </li>
                      <li class="success_item">
                          <h3 class="k"><span class="item_num">200</span>K+ </h3>
                          <p class="item_desc">Adhérants</p>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </section>
    
    <app-side-bar></app-side-bar>
    
    <section class="g-0 mb-5" style="margin-top: 150px;">
      <div class="container px-4">    
          <h1 >Choisir ma région</h1>
      </div>
  </section>


  
  <app-map-french-region></app-map-french-region>
   
      
 


    <section class="divider g-0 mb-5">
        <div class="container px-4">
            <span class="divider_ligne"></span>
        </div>
    </section>

    <section class=" g-0 mb-5">
        <div class="container px-4">
            <h1> Actualite </h1>
        </div>
    </section>

    <section class="actu">

    
            <div class="row mb-5 g-4 justify-content-center" style="width: 70%;">
            <div class="col-md-4 col-lg-4 col-xl-4" >
                  <div style="overflow: hidden;border-radius: 15px;background-color: #EBECF0 ;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;" class="act-wrapper bg-white">
                      <div class="act-img" >
                          <img style="width: 100%; max-height:70%; object-fit:cover;border-radius: 15px;" src="assets/img/act1.png" alt="actualite" />
                      </div>
                      <div style="max-height: 100px;" class="act-content p-2">
                          <div class="act-title">
                              <h5> Numériser votre entreprise n'a jamais été aussi simple!</h5>
                          </div>
                           
                          <div class="act-desc">
                              <p class="m-0">Nous sommes depuis quelques années rentré dans l'ère... Lire la suite</p>
                          </div>
                       
                      </div>
                  </div>
              </div>

              <div class="col-md-4 col-lg-4 col-xl-4">
                <div style="overflow: hidden;border-radius: 15px;background-color: #EBECF0;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;" class="act-wrapper  bg-white">
                    <div  class="act-img">
                        <img style="width: 100%; max-height:165px; object-fit:cover;border-radius: 15px;" src="assets/img/act2.png" alt="actualite" />
                    </div>
                    <div style="max-height: 100px;" class="act-content p-2">
                        <div class="act-title">
                            <h5>TPE - PME : Une opportunité à saisir !</h5>
                        </div>
                         
                        <div class="act-desc">
                            <p class="m-0">2020 était une année très dure pour les chefs d’entreprises...<br> Lire la suite</p>
                        </div>
                     
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4">
                <div style="overflow: hidden;border-radius: 15px;background-color: #EBECF0;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;" class="act-wrapper   bg-white">
                    <div  class="act-img">
                        <img style="width: 100%; max-height:165px; object-fit:cover;border-radius: 15px;" src="assets/img/act3.png" alt="actualite" />
                    </div>
                    <div style="max-height: 100px;" class="act-content p-2">
                        <div class="act-title">
                            <h5>La France se digitalise !</h5>
                        </div>
                         
                        <div class="act-desc">
                            <p class="m-0">En France, un bon nombre d’entreprises françaises n'ont...<br> <br>Lire la suite</p>
                        </div>
                     
                    </div>
                </div>
            </div>
           
          </div>

</section>
    
<section class=" g-0 mb-5">
    <div class="container px-4">
        <h1> Nous proposons </h1>
    </div>
</section>
    
<section class=" g-0 mb-5">
    <div class="container px-4">
        <h3 style="color: #111d5e;"> Peut importe votre secteur d’activité nous vous offrons une subvention.</h3>
    </div>
</section>

<section class=" g-0 mb-5">
    <div class="container px-4 proposons">
        <div class="1">
            <h1 >1.</h1>
            <div class="SousB">
                <h1>400+</h1>
                <h3>Speed Optimization</h3>
                <i class="fas fa-long-arrow-alt-right"></i>
                <p>Lorem Ipsum is simply dummy</p>
            </div>
        </div>
        <div class="1">
            <h1 >2.</h1>
            <div class="SousB" style="border: 3px solid #111d5e;">
                <h1>600+</h1>
                <h3>Cloud Solutions</h3>
                <i class="fas fa-long-arrow-alt-right"></i>
                <p>Lorem Ipsum is simply dummy</p>
            </div>
        </div>
        <div class="1">
            <h1 >3.</h1>
            <div class="SousB">
                <h1>820+</h1>
                <h3>Online Marketing</h3>
                <i class="fas fa-long-arrow-alt-right"></i>
                <p>Lorem Ipsum is simply dummy</p>
            </div>
        </div>
    </div>
</section>
    </div>
    </div>