.outer-div,
.inner-div {
    height: 378px;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

.outer-div {
    perspective: 900px;
    perspective-origin: 50% calc(50% - 18em);
}

.inner-div {
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 400;
    color: black;
    font-size: 1rem;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
    transform-style: preserve-3d;
}

:hover .social-icon {
    opacity: 1;
    top: 0;
}

/*&:hover .front__face-photo,
    &:hover .front__footer {
      opacity: 1;
    }*/


.outer-div:hover .inner-div {
    transform: rotateY(180deg);
}

.front,
.back {
    position: relative;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.front {
    cursor: pointer;
    height: 85%;
    background: white;
    backface-visibility: hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0px 1px 15px grey;
    border-radius: 25px;

}


.front__face-photo1 {
    position: relative;
    top: 10px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border-radius: 50%;

    background-size: contain;
    overflow: hidden;
    /* backface-visibility: hidden;
         transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
         z-index: 3;*/
}


.front__face-photo2 {
    position: relative;
    top: 10px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: contain;
    overflow: hidden;
    /* backface-visibility: hidden;
         transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
         z-index: 3;*/
}


.front__face-photo3 {
    position: relative;
    top: 10px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border-radius: 50%;

    background-size: contain;
    overflow: hidden;
    /* backface-visibility: hidden;
         transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
         z-index: 3;*/
}

.front__text {
    position: relative;
    top: 35px;
    margin: 0 auto;
    font-family: "Montserrat";
    font-size: 18px;
    backface-visibility: hidden;
}

.front__text-header {
    font-weight: 700;
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 20px;
}

.front__text-para {
    position: relative;
    top: -5px;
    color: #000;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.front-icons {
    position: relative;
    top: 0;
    font-size: 14px;
    margin-right: 6px;
    color: gray;
}

.front__text-hover {
    position: relative;
    top: 10px;
    font-size: 10px;
    color: red;
    backface-visibility: hidden;

    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .4px;

    border: 2px solid red;
    padding: 8px 15px;
    border-radius: 30px;

    background: red;
    color: white;
}


.back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    height: 85%;
    width: 100%;
    background-color: #fffefe;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 15px grey;
    border-radius: 25px;

}
.carre {
  width: 200px;
  height: 90px;
  background: white;
  border-radius: 18px;
  margin-left: -250px;
  margin-top: -90px;
}

.primary_body .home_container .section_heading {
	 background:#EBECF0;
	 min-height: fit-content;
	 border-bottom-right-radius: 100px;
}
 .primary_body .home_container .section_heading .heading_wrapper .img_wrapper .heading_img {
	 height: 100%;
	 max-height: 585px;
	 margin-top: -35px;
}
 .primary_body .home_container .section_heading .heading_wrapper .title_heading {
	 font-size: 50px;
	 font-weight: 800;
	 color:  #111d5e;
}
 .primary_body .home_container .section_heading .heading_wrapper .desc_heading {
	 font-size: 40px;
	 font-weight: 700;
	 color:  #111d5e;
}
 .primary_body .home_container .our_success .success_wrapper .success_txt {
	 text-transform: uppercase;
	 font-weight: 400;
	 font-size: 14px;
	 color: #111d5e;
}
 .primary_body .home_container .our_success .success_wrapper .success_desc {
	 font-size: 28px;
	 color: #111d5e;
}
 .primary_body .home_container .our_success .success_wrapper .success_list {
	 display: flex;
	 justify-content: space-between;
	 margin: 0;
	 padding: 0;
}
 .primary_body .home_container .our_success .success_wrapper .success_list .success_item {
	 list-style: none;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
}
 .primary_body .home_container .our_success .success_wrapper .success_list .success_item .item_num {
	 margin: 0;
	 font-weight: 700;
	 color: #111d5e;
}
 .primary_body .home_container .our_success .success_wrapper .success_list .success_item .item_desc {
	 margin: 0;
	 color: #111d5e;
}
 .primary_body .home_container .card-blog .card_wrapper .row {
	 background-color: #111d5e;
	 border-radius: 30px;
}
 .primary_body .home_container .card-blog .card_wrapper .row .card-body {
	 margin-bottom: 14px;
	 margin-top: -22px;
}
 .primary_body .home_container .card-blog .card_wrapper .row .card-body .test-btn1 {
	 border-radius: 20px;
}
 .primary_body .home_container .card-blog .card_wrapper .row .card-body .test-btn2 {
	 border: none;
	 background: red;
	 border-radius: 25px;
	 color: white;
	 padding: 8px 30px;
}
 .primary_body .home_container .card-blog .card_wrapper .row .card-body .test-btn3 {
	 border-radius: 20px;
}
 .primary_body .home_container .card-blog .card_wrapper .row .card-group {
	 text-align: center;
}
 .primary_body .home_container .card-blog .card_wrapper .row .card-group .card {
	 border: none;
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 min-width: 0;
	 word-wrap: break-word;
	 background-color: #111d5e;
	 border-radius: 12.25rem;
	 color: white;
}
 .primary_body .home_container .card-blog .card_wrapper .row .card-group .card .card-img-top {
	 width: 50%;
	 margin-left: 91px;
}
 .primary_body .french_map .map_wrapper .map_holder .map_svg g path {
	 fill: gray;
	 stroke-width: 1px;
	 stroke: gray;
	 cursor: pointer;
	 transition: 0.3s;
}
 .primary_body .french_map .map_wrapper .map_holder .map_svg g path:hover {
	 fill: red;
}
 .primary_body .divider .divider_ligne {
	 width: 100%;
	 height: 5px;
	 background: #111d5e;
	 display: block;
	 position: relative;
}
 .primary_body .divider .divider_ligne::before {
	 content: "";
	 position: absolute;
	 width: 30%;
	 top: 0;
	 left: 0;
	 height: 5px;
	 background: red;
}
 .primary_body .divider .divider_ligne::after {
	 content: "";
	 position: absolute;
	 width: 30%;
	 top: 0;
	 right: 0;
	 height: 5px;
	 background: red;
}
 .primary_body .actuality .actuality_wrapper .title .title_txt {
	 font-size: 45px;
	 font-weight: 800;
	 position: relative;
	 margin: 0;
	 color: #111d5e;
}
 .primary_body .actuality .actuality_wrapper .title .title_txt::after {
	 content: "";
	 width: 170px;
	 height: 3px;
	 bottom: 0;
	 left: 90px;
	 background: #111d5e;
	 position: absolute;
}
 .primary_body .actuality .actuality_wrapper .card_wrapper {
	 width: 100%;
	 height: fit-content;
	 overflow: hidden;
	 border-radius: 5px;
}
 .primary_body .actuality .actuality_wrapper .card_wrapper .card_img {
	 overflow: hidden;
	 border-radius: 0 0 5px 5px;
	 height: 150px;
}
 .primary_body .actuality .actuality_wrapper .card_wrapper .card_img .image {
	 height: 100%;
	 width: 100%;
	 object-fit: cover;
}
 .primary_body .actuality .actuality_wrapper .card_wrapper .card_txt {
	 height: 60px;
	 justify-content: center;
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 padding: 5px;
}
 .primary_body .actuality .actuality_wrapper .card_wrapper .card_txt .title {
	 font-size: 16px;
	 font-weight: 600;
	 width: 100%;
	 white-space: nowrap;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 margin: 0;
	 color: #111d5e;
}
 .primary_body .actuality .actuality_wrapper .card_wrapper .card_txt .desc {
	 font-size: 14px;
	 font-weight: 500;
	 overflow: hidden;
	 width: 80%;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 margin: 0;
	 color: #111d5e;
}
 .primary_body .actuality .actuality_wrapper .card_wrapper .card_txt .see_more {
	 position: absolute;
	 right: 5px;
	 bottom: 10px;
	 font-size: 12px;
	 color: gray;
}
 .primary_body .our_proposal .proposal_wrapper .title .title_txt {
	 font-size: 45px;
	 font-weight: 800;
	 position: relative;
	 margin: 0;
	 color: #111d5e;
}
 .primary_body .our_proposal .proposal_wrapper .title .title_txt::after {
	 content: "";
	 width: 170px;
	 height: 3px;
	 bottom: 0;
	 left: 250px;
	 background: #111d5e;
	 position: absolute;
}
 .primary_body .our_proposal .proposal_wrapper .title .desc_txt {
	 margin: 0;
	 color: #111d5e;
}
 .primary_body .our_proposal .proposal_wrapper .card_wrapper {
	 border: 2px solid #65b9b7;
	 border-radius: 10px;
	 padding: 10px;
}
 .primary_body .our_proposal .proposal_wrapper .card_wrapper .card_header {
	 height: 80px;
}
 .primary_body .our_proposal .proposal_wrapper .card_wrapper .card_header .title {
	 margin: 0;
	 font-weight: 900;
	 color: #111d5e;
}
 .primary_body .our_proposal .proposal_wrapper .card_wrapper .card_header .desc {
	 margin: 0;
	 font-weight: 600;
	 color: #111d5e;
}
 .primary_body .our_proposal .proposal_wrapper .card_wrapper .card_desc .desc {
	 margin: 0;
	 color: #111d5e;
}
 .primary_body .search_bloc *, .primary_body .search_bloc *:before, .primary_body .search_bloc *:after {
	 box-sizing: border-box;
}
.primary_body .search_bloc body {
  background: #f5f5f5;
}
.primary_body .search_bloc main {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 300px;
}
.primary_body .search_bloc .search:before, .primary_body .search_bloc .search:after {
  content: "";
  display: block;
  position: absolute;
}
.primary_body .search_bloc .search:before {
  border: 5px solid #111d5e ;
  border-radius: 20px;
  height: 40px;
  transition: all 0.3s ease-out;
  transition-delay: 0.3s;
  width: 40px;
}
.primary_body .search_bloc .search:after {
  background: #111d5e;
  border-radius: 3px;
  height: 5px;
  transform: rotate(-45deg);
  transform-origin: 0% 100%;
  transition: all 0.3s ease-out;
  width: 15px;
}
.primary_body .search_bloc .search__input {
  background: transparent;
  border: none;
  border-radius: 20px;
  display: block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  outline: none;
  padding: 0 15px;
  position: relative;
  transition: all 0.3s ease-out;
  transition-delay: 0.6s;
  width: 40px;
  z-index: 1;
  color: rgb(85, 85, 85);
}
 .primary_body .search_bloc .search--hide:before {
	 transition-delay: 0.3s;
}
 .primary_body .search_bloc .search--hide:after {
	 transition-delay: 0.6s;
}
 .primary_body .search_bloc .search--hide .search__input {
	 transition-delay: 0s;
}
 .primary_body .search_bloc .search--show:after {
	 transform: rotate(-45deg) translateX(15px) translateY(-2px);
	 width: 0;
}
.primary_body .search_bloc .search--show:before {
  border: 5px solid #111d5e;
  border-radius: 20px;
  height: 40px;
  width: 500px;
}
 .primary_body .search_bloc .search--show .search__input {
	 opacity: 1;
	 width: 500px;
}



.jumbotron {
  margin: -21px -22px 0px -24px;
  height: 800px;
  color: white !important;
  border-radius: 0 0 15%;
}
.imgdame {
  width: 1000px;
  height: 500px;
  margin-top: -10%;
  margin-left: -10%;
}
.text_transition {
  font-size: 60px;
  color: #111d5e;
}

#wrap {
  margin: 50px 100px;
  display: inline-block;
  position: relative;
  height: 60px;
  float: right;
  padding: 0;
  position: relative;
}

input[type="text"] {
  height: 50px;
  font-size: 30px;
  display: inline-block;

  font-weight: 100;
  border: none;
  outline: none;
  color: white;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid white;
}

input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid white;
  cursor: text;
}
input[type="submit"] {
  height: 50px;
  width: 50px;
  display: inline-block;
  color: white;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=)
    center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.item_num {
    margin: 0;
    font-weight: 700;
    color: #111d5e;
  }
  .success_item {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item_desc {
    margin: 0;
    color: #111d5e;
  }
  .success_list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .success_txt {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #111d5e;
  }
  .success_desc {
    font-size: 28px;
    color: #111d5e;
  }
  .container_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

}

.card {
    width: 20%;
    height: 300px;
    background: white;
    margin: 20px;

}
.underline {
    text-decoration: underline;
}
.num-card{
    font-weight:bold; font-size :32px;color:#111d5e
}
.card-subtitle{
    color:#111d5e !important;
    font-size :16px !important;
    font-weight:bold !important;

}
.card-text{
    color:#111d5e !important;
    font-size :12px !important;
    
}
.btntest{
    text-decoration:auto ;  border: none; background: red;border-radius: 25px;color: white;padding: 5px 15px;


}
.cards{
    transition: box-shadow .3s;
    border: 1px solid #ccc;
    border-radius: 15px;
    float: left;
}
.cards:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    border: 1px transparent;
  }
 .divider_ligne::after{
    content: "";
    position: absolute;
    width: 30%;
    top: 0;
    right: 0;
    height: 5px;
    background: red;
  }
  .divider_ligne::before{
    content: "";
    position: absolute;
    width: 30%;
    top: 0;
    left: 0;
    height: 5px;
    background: red;}
    .divider_ligne{
        width: 100%;
        height: 5px;
        background: #111d5e;
        display: block;
        position: relative;}
h1{
  font-weight: bold;
}
.k{
  font-weight: bold;
  margin: inherit;
}



    /*****************************************responsive css *************************************************/
    @media screen and (max-width: 768px) {

      .proposons{
        height: 800px;
    background: linear-gradient(#ffffff, #e5e6e7);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
      }
      .SousB i{
        margin-left: 77px;
    z-index: auto;
    font-size: 26px;
    margin-top: 70px;
    transform: rotate(90deg);
    position: absolute;
      }
    
      .chiffre{
        display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
      }
      .success_item{
        margin-left: 20px;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .k{
        margin: initial;
      }
     
    
    .primary_body .search_bloc .search--show:before {
      border: 5px solid #111d5e;
      border-radius: 20px;
      height: 40px;
      width: 300px;
    }
    .primary_body .search_bloc .search--show .search__input {
      opacity: 1;
      width: 300px;
    }
    }