
    <div class="register_container">
        <div class="register_content">
            <div class="register_wrapper">


                    <div class="d-flex align-items-center ">
                        <div class="col-md-6 g-3" style ="margin-top: 10px;margin-bottom: 10px;">
                            <div class="container py-0">
                                <div class="row row-cols-2 g-2">
                                    <div class="col"> <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/1.png" alt=""></div>
                                    <div class="col"> <img style="width: 100%; border-radius: 0 3.5rem 0 0; height: 100%;" src="assets/cpnimages/connexion/1.png" alt=""></div>
                                    <div class="col"> <img style="width: 100% ;height: 100%;" src="assets/cpnimages/connexion/2.png" alt=""></div>
                                    <div class="col"> <img style="width: 100%; height: 100%;" src="assets/cpnimages/connexion/3.png" alt=""></div>
                                    <div class="col"> <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/4.png" alt=""></div>
                                    <div class="col"> <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/5.png" alt=""></div>
                                    <div class="col"> <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/5.png" alt=""></div>
                                    <div class="col"> <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/8.png" alt=""></div>
                                    <div class="col"> <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/9.png" alt=""></div>
                                    <div class="col"> <img style=" border-radius: 0 0 3.5rem 0; width: 100%;height: 100%" src="assets/cpnimages/connexion/10.png" alt=""></div>
                                </div>
                            </div>
                        </div>


                            <!-- <div class="alert alert-danger" role="alert">

                            </div
                     -->
                        <div class="col-md-6" style="height: 100%;">

                            <form [formGroup]="registerGroup" (ngSubmit)="onSubmit()">

                            <div class="row g-0 mb-3" style="flex: 1;">

                                    <!-- <div class="alert alert-danger" role="alert">

                                    </div> -->

                                <div class="col-sm-4 d-flex justify-content-center">

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="TPE-PME">
                                        <label class="form-check-label" for="inlineRadio1">TPE-PME</label>
                                    </div>
                                </div>
                                <div class="col-sm-4 d-flex justify-content-center">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"  name="inlineRadioOptions" id="inlineRadio1" value="Agence">
                                        <label class="form-check-label" for="inlineRadio1">Agence</label>
                                    </div>
                                </div>
                                <div class="col-sm-4 d-flex justify-content-center">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="col">
                                        <label class="form-check-label" for="inlineRadio1">Collectivités</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3 g-4" style="flex: 2;">
                                <div class="col-md-12">
                                  <input type="text" class="form-control" formControlName="firstname" id="floatingInput" placeholder="Nom d'utilisateur">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" formControlName="lastname" id="floatingInput" placeholder="Nom d'utilisateur">
                                  </div>
                                <div class="col-md-12">
                                  <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">                                </div>
                                <div class="col-md-12">
                                  <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">                                </div>
                                <div class="col-md-12">
                                  <input type="password" class="form-control" id="confirmPassword" formControlName="password_confirmed" placeholder="Confirmer password">                                </div>

                                  <div class="col-md-12">
                                    <div class="row">
                                      <div class="col-8">
                                    <input class="form-check-input" type="checkbox" value="true" name="accept" id="flexCheckDefault" style=" border: 1px solid rgba(0, 0, 0, 0.25);  margin-left: 15px; ">
                                    <label class="form-check-label" for="flexCheckDefault" style="  margin-left: 45px;">
                                        Se Souvenir de moi
                                    </label>
                                  </div>
                                  <div class="col-md-4 col-sm-12">
                                    <button style="border: none;background: red;border-radius: 25px;color: white;width: 117px;" type="submit" class="btn btn-danger">Inscription</button>
                                  </div>
                                  </div>
                              </div>


                                  <div class="col-md-12">
                                    <input class="form-check-input" type="checkbox" value="true" name="accept" id="flexCheckDefault" style=" border: 1px solid rgba(0, 0, 0, 0.25);  margin-left: 15px; ">
                                    <label class="form-check-label" for="flexCheckDefault" style="  margin-left: 45px;">
                                        j'ai lu et accepté les CGU et la Politque de site
                                    </label>
                              </div>
                                </div>



                            <!-- <div class="row" style="position: absolute;display: flex; flex-direction: row; margin-left: 114px; margin-top: -26px;">
                                <div class="form-check" style="margin-left: -40px;">
                                    <input class="form-check-input" type="checkbox" value="true" name="accept" id="flexCheckDefault" style=" border: 1px solid rgba(0, 0, 0, 0.25); margin-top: 75px;">
                                    <label class="form-check-label" for="flexCheckDefault" style="margin-top: 75px;">
                                        j'ai lu et accepté les CGU et la Politque de site
                                    </label>
                                </div>
                            </div> -->
                            <!-- <div class="row justify-content-end">
                                <div class="row justify-content-end" style="flex: 1;">
                                    <div class="col-md-4">
                                        <button style="border: none;background: red;border-radius: 25px;color: white;padding: 5px 15px;    margin-top: 91px;" type="submit" class="btn btn-danger">Inscription</button>
                                    </div>
                                </div>
                            </div> -->
                        </form>

                        </div>

                    </div>
            </div>
        </div>
    </div>
