.container{
    display: flex;
    flex-direction:row ;
    justify-content:center;
    background-color: rgb(253, 253, 253);
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1000;

}
.right{
    display: flex;
    flex-direction:column ;
    justify-content:center;
    height: 100%;
    width: 100%;
}
.image{
    display: flex;
    flex-direction:row ;
    justify-content:center;
    margin: 10px;
}
img{
    height: 200px;
    border-radius: 95px;
}
.fullName{
    display: flex;
    margin: 10px;
    flex-direction:column ;
    justify-content:center;
    align-items:center;
}
h1{
    font-weight: bold;
    font-size: 25px;
}
.listBut{
    display: flex;
    flex-direction:row ;
    justify-content: center ;
    margin-bottom: 10px;
}
button{
    margin: 10px;
}
.left{
    display: flex;
    flex-direction:column ;
    justify-content:space-between;
    height: 100%;
    width: 100%;
}
.block{
    display: flex;
    flex-direction:row ;
    justify-content:space-between;
    height: 100%;
    width: 100%;
}
.titre-left{
    display: flex;
    flex-direction:column ;
    justify-content:center;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}
.titre-left p{
    font-size: 17px;
    color: rgb(100, 100, 100);
   margin-left: 15px;
   font-weight: bold;
}
.titre-right{
    display: flex;
    flex-direction:column ;
    justify-content:center;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}
.titre-right p{
    font-size: 17px;
    color: rgb(100, 100, 100);
}
.left button{
    margin: 20px;
}
.profile-form{
    display: flex;
    flex-direction:column ;
    justify-content:space-between;
    height: 100%;
    width: 100%;
    margin: 10px;
}
.profile-form button{
    margin-top: 20px;
}
.example-full-width{
    margin-top: 20px;
}