<div class="container">
  <div class="right">
      <div class="image"><img src="assets/images/agent-1.jpg" alt=""></div>
      <div class="fullName">
          <h1>{{ profile.first_name | uppercase }} {{ profile.last_name | uppercase  }}</h1>
          <h5>conseiller</h5>
        </div>
      <div class="listBut">
        <button mat-raised-button color="primary">AJOUTER</button>
        <button mat-stroked-button color="primary">MESSAGE</button>
      </div>
  </div>
  <div class="left">
      <div class="block">
      <div class="titre-left">
          <p>Nom complet</p><mat-divider></mat-divider>
      </div>
      <div class="titre-right">
            <p>{{ profile.first_name }} {{ profile.last_name }}</p><mat-divider></mat-divider>
      </div>
    </div>
    <div class="block">
      <div class="titre-left">
        <p>Email</p><mat-divider></mat-divider>
    </div>
    <div class="titre-right">
          <p>{{ profile.email }}</p><mat-divider></mat-divider>
    </div>
    </div>
    <div class="block">
    <div class="titre-left">
        <p>Numéro de téléphone</p><mat-divider></mat-divider>
    </div>
    <div class="titre-right">
          <p>{{ profile.first_name }}</p><mat-divider></mat-divider>
    </div>
    </div>
    <div class="block">
    <div class="titre-left">
        <p>Adresse</p><mat-divider></mat-divider>
    </div>
    <div class="titre-right">
          <p>{{ profile.first_name }}</p><mat-divider></mat-divider>
    </div>
    </div>
    <div class="block">
    <div class="titre-left">
        <p>Status du compte</p><mat-divider></mat-divider>
    </div>
    <div class="titre-right">
          <p>{{ profile.first_name }}</p><mat-divider></mat-divider>
    </div>
    </div>
    <button mat-raised-button color="primary" data-toggle="modal" (click)="openModal()">Modifier</button>
    </div>
</div>



<!--Modal PopUp with Add Event Form-->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title align-center">Créer un événement</h4>
            </div>

            <div class="modal-body">

                <form class="profile-form" [formGroup]="ModifierProfile" (ngSubmit)="onSubmit()">
                    <mat-form-field class="example-full-width">
                      <mat-label>Nom</mat-label>
                      <input matInput formControlName="first_name"
                             placeholder="Ex. ahmed">
                      <mat-hint>Errors appear instantly!</mat-hint>
                      <mat-error >
                        Please enter a valid Nom
                      </mat-error>
                      <mat-error >
                        Nom is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Prenom</mat-label>
                        <input matInput formControlName="last_name"
                               placeholder="Ex. kneni">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error >
                          Please enter a valid Prenom
                        </mat-error>
                        <mat-error >
                            Prenom is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email"
                               placeholder="Ex. pat@example.com">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error >
                          Please enter a valid email address
                        </mat-error>
                        <mat-error >
                          Email is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field class="example-full-width">
                        <mat-label>Adresse</mat-label>
                        <input matInput formControlName="adresse"
                               placeholder="Ex. 1 juin akouda">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error >
                          Please enter a valid Adresse
                        </mat-error>
                        <mat-error >
                            Adresse is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field class="example-full-width">
                        <mat-label>Telephone</mat-label>
                        <input matInput formControlName="telephone"
                               placeholder="Ex. ** **** ***">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error >
                          Please enter a valid Telephone address
                        </mat-error>
                        <mat-error >
                            Telephone is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field class="example-full-width">
                        <mat-label>Status du compte</mat-label>
                        <input matInput formControlName="compte"
                               placeholder="Ex. active">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error >
                          Please enter a valid Status du compte
                        </mat-error>
                        <mat-error >
                            Status du compte is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                      <button mat-raised-button color="primary" type="submit">Save</button>
                  </form>


            </div>
        </div>
    </div>
</div>

