
 <app-side-bar></app-side-bar>
<div class="actuality_container">
  <div class="actuality_wrapper">
    <div class="container col-11">
      <div class="row justify-content-center">
        <div class="actuality_content col-md-12" style=" display:contents;flex-direction: row; justify-content: center;">

          <div class="row mb-3 justify-content-center " style="margin-top: 37px;">
            <div class="col-auto" >
              <h1 style="font-weight: bold; color: rgb(33, 7, 94)" class="m-0">
                Actualité
              </h1>
            </div>
          </div>

          <div class="row mb-5 g-4 justify-content-center " style ="margin-top:-2px;">
            <div class="col-md-4 col-lg-4 col-xl-4">
              <div style="overflow: hidden" class="act-wrapper shadow rounded-3 bg-white">
                <div style="height: 230px;" class="act-img">
                  <img style="width: 100%; height:100%; object-fit:cover" src="assets/cpnimages/sitecpn/act1.png" alt="actualite" />
                </div>
                <div style="height: 190px;" class="act-content p-2">
                  <div class="act-title">
                    <h4> Numériser votre entreprise n'a jamais été aussi simple !</h4>
                  </div>

                  <div class="act-desc">
                    <p class="m-0"> Nous sommes depuis quelques années rentré dans l'ère du digital...</p>
                  </div>
                  <div class="act-button d-flex flex-row justify-content-end">
                    <button style="border: none; background: transparent" >
                      <p class="readMore">  Lire la suite..</p>
                    </button>
                  </div>
                  <span style="border-left: 2px solid black; padding-left: 10px">25 fevrier</span>
                </div>
              </div>
            </div>



            <div class="col-md-4 col-lg-4 col-xl-4">
              <div style="overflow: hidden" class="act-wrapper shadow rounded-3 bg-white">
                <div style="height: 190px;" class="act-content p-2">
                  <div class="act-title">
                    <h4>
                      La France se digitalise !
                    </h4>
                  </div>

                  <div class="act-desc">
                    <p class="m-0">En France, un bon nombre d’entreprises françaises n'ont pas encore intégré l’enjeu autour de la digitalisation des entreprises...
                    </p>
                  </div>

                  <div class="act-button d-flex flex-row justify-content-end">
                    <button style="border: none; background: transparent">
                      Lire la suite..
                    </button>
                  </div>
                  <span style="border-left: 2px solid black; padding-left: 10px">7 Mars</span>
                </div>
                <div style="height: 230px;" class="act-img">
                  <img style="width: 100%; height:100%; object-fit:cover" src="assets/cpnimages/sitecpn/act6.png" alt="" />
                </div>
              </div>
            </div>


            <div class="col-md-4 col-lg-4 col-xl-4">
              <div style="overflow: hidden" class="act-wrapper shadow rounded-3 bg-white">
                <div style="height: 230px;" class="act-img">
                  <img style="width: 100%; height:100%; object-fit:cover" src="assets/cpnimages/sitecpn/act5.png" alt="" />
                </div>
                <div style="height: 190px;" class="act-content p-2">
                  <div class="act-title">
                    <h4> TPE - PME : Une opportunité à saisir ! </h4>
                  </div>

                  <div class="act-desc">
                    <p class="m-0">2020 était une année très dure pour les chefs d’entreprises, indépendants, commerçants, TPE, PME, artisans..</p>
                  </div>
                  <div class="act-button d-flex flex-row justify-content-end">
                    <button style="border: none; background: transparent" >
                      <p class="readMore">  Lire la suite..</p>
                    </button>
                  </div>
                  <span style="border-left: 2px solid black; padding-left: 10px">25 fevrier</span>
                </div>
              </div>
            </div>
          </div>

          <div class="rowq col-lg-12 mb-5 " style="float:left !important;">
            <div class="col-md-12">
              <div class="row justify-content-start">
                <div class="col-auto">
                  <h4 style="font-weight: 700;font-size: 33px;    color: rgb(33, 7, 94);"  class="m-0">Autre actualité</h4>
                </div>

                <div class="col-auto">
                  <div class="button-wrapper">
                    <button class="btn btn-left" data-slide="prev" href=" #carouselExampleIndicators2">
                      < </button>
                    <button data-slide="next" href=" #carouselExampleIndicators2" class="btn btn-right">></button>
                  </div>
                </div>
              </div>
            </div>
            <hr  style ="height: unset;">
          </div>









          <!--                    <div class="container">-->
          <!--                        <section class="customer-logos slider">-->

          <!--                            <div class="slide"><img src="assets/cpnimages/actualites/photo.jpg" alt="image"> </div>-->
          <!--                            <div class="row m-0 g-0">-->
          <!--                                <div style="width: 400px; height:35px; overflow:hidden" class="title">-->
          <!--                                    <h6 style="font-size: 14px; height:100%; width:100%" class="m-0">Lorem ipsum dolor. </h6>-->
          <!--                                </div>-->
          <!--                                <div style="width: 100%; height:55px; overflow:hidden" class="desc">-->
          <!--                                    <p style="font-size: 12px; width: 100%; height:100%" class="m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>-->
          <!--                                </div>-->
          <!--                            </div>-->
          <!--                            <div class="slide"><img src="assets/cpnimages/actualites/photo.jpg" alt="image"> </div>-->
          <!--                            <div class="row m-0 g-0">-->
          <!--                                <div style="width: 400px; height:35px; overflow:hidden" class="title">-->
          <!--                                    <h6 style="font-size: 14px; height:100%; width:100%" class="m-0">Lorem ipsum dolor.</h6>-->
          <!--                                </div>-->
          <!--                                <div style="width: 100%; height:55px; overflow:hidden" class="desc">-->
          <!--                                    <p style="font-size: 12px; width: 100%; height:100%" class="m-0"> Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>-->
          <!--                                </div>-->
          <!--                            </div>-->
          <!--                            <div class="slide"><img src="assets/cpnimages/actualites/photo.jpg" alt="image"> </div>-->
          <!--                            <div class="row m-0 g-0">-->
          <!--                                <div style="width: 400px; height:35px; overflow:hidden" class="title">-->
          <!--                                    <h6 style="font-size: 14px; height:100%; width:100%" class="m-0">Lorem ipsum dolor.</h6>-->
          <!--                                </div>-->
          <!--                                <div style="width: 100%; height:55px; overflow:hidden" class="desc">-->
          <!--                                    <p style="font-size: 12px; width: 100%; height:100%" class="m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>-->
          <!--                                </div>-->
          <!--                            </div>-->
          <!--                            <div class="slide"><img src="assets/cpnimages/actualites/photo.jpg" alt="image"> </div>-->
          <!--                            <div class="row m-0 g-0">-->
          <!--                                <div style="width: 400px; height:35px; overflow:hidden" class="title">-->
          <!--                                    <h6 style="font-size: 14px; height:100%; width:100%" class="m-0">Lorem ipsum dolor</h6>-->
          <!--                                </div>-->
          <!--                                <div style="width: 100%; height:55px; overflow:hidden" class="desc">-->
          <!--                                    <p style="font-size: 12px; width: 100%; height:100%" class="m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>-->
          <!--                                </div>-->
          <!--                            </div>-->
          <!--                             <div class="slide"><img src="assets/cpnimages/actualites/photo.jpg" alt="image"> </div>-->
          <!--                            <div class="row m-0 g-0">-->
          <!--                                <div style="width: 400px; height:35px; overflow:hidden" class="title">-->
          <!--                                    <h6 style="font-size: 14px; height:100%; width:100%" class="m-0">Lorem ipsum dolor.</h6>-->
          <!--                                </div>-->
          <!--                                <div style="width: 100%; height:55px; overflow:hidden" class="desc">-->
          <!--                                    <p style="font-size: 12px; width: 100%; height:100%" class="m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>-->
          <!--                                </div>-->
          <!--                            </div>-->
          <!--                        </section>-->
          <!--                    </div>-->



          <section class="pt-5 pb-5" style="    margin-top: -70px;">
            <div class="row d-flex align-items-center">
              <div class="row">
                <div class="col-6">
                </div>

                <div class="col-12">
                  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">

                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <div class="row no-gutters">
                                <div class="col-sm-5">
                                  <img class="card-img" src="assets/cpnimages/sitecpn/act1.png" style="height:100%" alt="Suresh Dasari Card">
                                </div>
                                <div class="col-sm-7">
                                  <div class="card-body">
                                    <h5 class="card-title">Numériser votre entreprise</h5>
                                    <p class="card-text">Numériser votre entreprise n'a jamais été aussi simple !</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <div class="row no-gutters">
                                <div class="col-sm-5">
                                  <img class="card-img" src="assets/cpnimages/sitecpn/act2.png" style="height:100%" alt="Suresh Dasari Card">
                                </div>
                                <div class="col-sm-7">
                                  <div class="card-body">
                                    <h5 class="card-title">Des entreprises françaises</h5>
                                    <p class="card-text">Des entreprises françaises plus matures face à la</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <div class="row no-gutters">
                                <div class="col-sm-5">
                                  <img class="card-img" src="assets/cpnimages/sitecpn/act3.png" style="height:100%" alt="Suresh Dasari Card">
                                </div>
                                <div class="col-sm-7">
                                  <div class="card-body">
                                    <h5 class="card-title">Suresh Dasari</h5>
                                    <p class="card-text">Suresh Dasari is a founder and technical lead developer in tutlane.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">

                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <div class="row no-gutters">
                                <div class="col-sm-5">
                                  <img class="card-img" src="assets/cpnimages/sitecpn/act4.png" style="height:100%" alt="Suresh Dasari Card">
                                </div>
                                <div class="col-sm-7">
                                  <div class="card-body">
                                    <h5 class="card-title">Suresh Dasari</h5>
                                    <p class="card-text">Suresh Dasari is a founder and technical lead developer in tutlane.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <div class="row no-gutters">
                                <div class="col-sm-5">
                                  <img class="card-img" src="assets/cpnimages/sitecpn/act5.png" style="height:100%" alt="Suresh Dasari Card">
                                </div>
                                <div class="col-sm-7">
                                  <div class="card-body">
                                    <h5 class="card-title">Suresh Dasari</h5>
                                    <p class="card-text">Suresh Dasari is a founder and technical lead developer in tutlane.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <div class="row no-gutters">
                                <div class="col-sm-5">
                                  <img class="card-img" src="assets/cpnimages/sitecpn/act6.png" style="height:100%" alt="Suresh Dasari Card">
                                </div>
                                <div class="col-sm-7">
                                  <div class="card-body">
                                    <h5 class="card-title">Suresh Dasari</h5>
                                    <p class="card-text">Suresh Dasari is a founder and technical lead developer in tutlane.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <!--                              <div class="carousel-item">-->
                      <!--                                <div class="row">-->

                      <!--                                  <div class="col-md-4 mb-3">-->
                      <!--                                    <div class="card">-->
                      <!--                                      <div class="row no-gutters">-->
                      <!--                                        <div class="col-sm-5">-->
                      <!--                                          <img class="card-img" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698" style="height:100%" alt="Suresh Dasari Card">-->
                      <!--                                        </div>-->
                      <!--                                        <div class="col-sm-7">-->
                      <!--                                          <div class="card-body">-->
                      <!--                                            <h5 class="card-title">Suresh Dasari</h5>-->
                      <!--                                            <p class="card-text">Suresh Dasari is a founder and technical lead developer in tutlane.</p>-->
                      <!--                                          </div>-->
                      <!--                                        </div>-->
                      <!--                                      </div>-->
                      <!--                                    </div>-->
                      <!--                                  </div>-->
                      <!--                                  <div class="col-md-4 mb-3">-->
                      <!--                                    <div class="card">-->
                      <!--                                      <div class="row no-gutters">-->
                      <!--                                        <div class="col-sm-5">-->
                      <!--                                          <img class="card-img" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698" style="height:100%" alt="Suresh Dasari Card">-->
                      <!--                                        </div>-->
                      <!--                                        <div class="col-sm-7">-->
                      <!--                                          <div class="card-body">-->
                      <!--                                            <h5 class="card-title">Suresh Dasari</h5>-->
                      <!--                                            <p class="card-text">Suresh Dasari is a founder and technical lead developer in tutlane.</p>-->
                      <!--                                          </div>-->
                      <!--                                        </div>-->
                      <!--                                      </div>-->
                      <!--                                    </div>-->
                      <!--                                  </div>-->
                      <!--                                  <div class="col-md-4 mb-3">-->
                      <!--                                    <div class="card">-->
                      <!--                                      <div class="row no-gutters">-->
                      <!--                                        <div class="col-sm-5">-->
                      <!--                                          <img class="card-img" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698" style="height:100%" alt="Suresh Dasari Card">-->
                      <!--                                        </div>-->
                      <!--                                        <div class="col-sm-7">-->
                      <!--                                          <div class="card-body">-->
                      <!--                                            <h5 class="card-title">Suresh Dasari</h5>-->
                      <!--                                            <p class="card-text">Suresh Dasari is a founder and technical lead developer in tutlane.</p>-->
                      <!--                                          </div>-->
                      <!--                                        </div>-->
                      <!--                                      </div>-->
                      <!--                                    </div>-->
                      <!--                                  </div>-->
                      <!--                                </div>-->
                      <!--                              </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
