
footer{
  background: #111D5E !important;
  color: white !important;

}

.navbar-nav{
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  font-size: 14px;
  }
  .nav-link{
      color: white !important;
  }
  .navlinkwhit{
      color: #111D5E !important;
  }
  .con{
      color: white !important;
      border: none;
      background: red;
      border-radius: 25px;
      width: 120px;
      text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .topnav li a:hover {
      border-bottom: 0.1px solid red;

  }
  .nav_t{
      color: white !important;
  }
  .nav_g{
      background-color: #111D5E;
  }
  .navwhit{
      background-color: #EBECF0;

  }
  .nav_img{
      width: 80px;
      margin-bottom: 10px;
  }
     .navbar-brand {
      display: inline-block;
      padding-top: .3125rem;
      padding-bottom: .3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
      margin-left: 75px;
      z-index: 5;
  }


/********************************************************* bar move ****************************************/
.float_actions {
position: fixed;
background: red;
border-radius: 10px;
left: 0;
top: 35%;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
width: 7%;
}
.float_actions .actions_content {
padding: 0;
margin: 0 0 -30px 0;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.float_actions .actions_content .action_items {
padding: 5px;
width: 120px;
height: 120px;
display: flex;
justify-content: center;
align-content: center;
position: relative;
}
.float_actions .actions_content .action_items::before{
content: ">";
position: absolute;
right: -30px;
top: 15%;
color: white;
font-size: 20px;
width: 40%;
font-weight: bold;
}

.float_actions .actions_content .action_items:hover:after{
content: "Testez mon égibilité";
position: absolute;
right: -200px;
top: 15%;
color: black;
font-size: 17px;
width: 40%;
background: white;
width: 180px;
border-radius: 25px;
text-align: center;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
}

.float_actions .actions_content .action_items .item_href {
text-decoration: none;
display: block;
flex-direction: column;
justify-content: center;
font-size: 14px;
}
.float_actions .actions_content .action_items .item_href .ihref_logo {
width: 100px;
height: 100px;
margin-left: 25px;
}
.float_actions .actions_content .action_items .item_href .ihref_text {
text-align: center;
margin: 0;
color: white;
margin-top: 7px;
}


/*************************************************************home *********************************************/
.outer-div,
.inner-div {
  height: 378px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}

.outer-div {
  perspective: 900px;
  perspective-origin: 50% calc(50% - 18em);
}
 .one{
margin: 11px 0px 0px 556px
}
 .two{
margin: -580px 0 0 1065px
}
.three{
margin: -12px 0 0 1059px
}
.inner-div {
  margin: 0 auto;
  border-radius: 5px;
  font-weight: 400;
  color: black;
  font-size: 1rem;
  text-align: center;

}

:hover .social-icon {
  opacity: 1;
  top: 0;
}

/*&:hover .front__face-photo,
  &:hover .front__footer {
    opacity: 1;
  }*/


.outer-div:hover .inner-div {

}

.front,
.back {
  position: relative;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.front {
  cursor: pointer;
  height: 85%;
  background: white;
  backface-visibility: hidden;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 1px 15px grey;
  border-radius: 25px;

}


.front__face-photo1 {
  position: relative;
  top: 10px;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  border-radius: 50%;

  background-size: contain;
  overflow: hidden;
  /* backface-visibility: hidden;
       transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
       z-index: 3;*/
}


.front__face-photo2 {
  position: relative;
  top: 10px;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: contain;
  overflow: hidden;
  /* backface-visibility: hidden;
       transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
       z-index: 3;*/
}


.front__face-photo3 {
  position: relative;
  top: 10px;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  border-radius: 50%;

  background-size: contain;
  overflow: hidden;
  /* backface-visibility: hidden;
       transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
       z-index: 3;*/
}

.front__text {
  position: relative;
  top: 35px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-size: 18px;
  backface-visibility: hidden;
}

.front__text-header {
  font-weight: 700;
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 20px;
}

.front__text-para {
  position: relative;
  top: -5px;
  color: #000;
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.front-icons {
  position: relative;
  top: 0;
  font-size: 14px;
  margin-right: 6px;
  color: gray;
}

.front__text-hover {
  position: relative;
  top: 10px;
  font-size: 10px;
  color: red;
  backface-visibility: hidden;

  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4px;

  border: 2px solid red;
  padding: 8px 15px;
  border-radius: 30px;

  background: red;
  color: white;
}


.back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 85%;
  width: 100%;
  background-color: #fffefe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 15px grey;
  border-radius: 25px;

}
.carre {
width: 200px;
height: 90px;
background: white;
border-radius: 18px;
margin-left: -290px;
margin-top: 335px;
}

.primary_body .home_container .section_heading {
 background:#111d5e;
 min-height: fit-content;
 border-bottom-right-radius: 100px;
}
.primary_body .home_container .section_heading .heading_wrapper .img_wrapper .heading_img {
 height: 100%;
 max-height: 585px;
 margin-top: 1;
 margin-left: -13px;
 width: 1050px;
}
.primary_body .home_container .section_heading .heading_wrapper .title_heading {
 font-size: 60px;
 font-weight: 800;
 color:  #ffffff;
 width: max-content;
}
.primary_body .home_container .section_heading .heading_wrapper .desc_heading {
 font-size: 40px;
 font-weight: 700;
 color:  #ffffff;
 width: max-content;
}
.primary_body .home_container .our_success .success_wrapper .success_txt {
 text-transform: uppercase;
 font-weight: 400;
 font-size: 14px;
 color: #111d5e;
}
.primary_body .home_container .our_success .success_wrapper .success_desc {
 font-size: 28px;
 color: #111d5e;
}
.primary_body .home_container .our_success .success_wrapper .success_list {
 display: flex;
 justify-content: space-between;
 margin: 0;
 padding: 0;
}
.primary_body .home_container .our_success .success_wrapper .success_list .success_item {
 list-style: none;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.primary_body .home_container .our_success .success_wrapper .success_list .success_item .item_num {
 margin: 0;
 font-weight: 700;
 color: #111d5e;
}
.primary_body .home_container .our_success .success_wrapper .success_list .success_item .item_desc {
 margin: 0;
 color: #111d5e;
}
.primary_body .home_container .card-blog .card_wrapper .row {
 background-color: #111d5e;
 border-radius: 30px;
}
.primary_body .home_container .card-blog .card_wrapper .row .card-body {
 margin-bottom: 14px;
 margin-top: -22px;
}
.primary_body .home_container .card-blog .card_wrapper .row .card-body .test-btn1 {
 border-radius: 20px;
}
.primary_body .home_container .card-blog .card_wrapper .row .card-body .test-btn2 {
 border: none;
 background: red;
 border-radius: 25px;
 color: white;
 padding: 8px 30px;
}
.primary_body .home_container .card-blog .card_wrapper .row .card-body .test-btn3 {
 border-radius: 20px;
}
.primary_body .home_container .card-blog .card_wrapper .row .card-group {
 text-align: center;
}
.primary_body .home_container .card-blog .card_wrapper .row .card-group .card {
 border: none;
 position: relative;
 display: flex;
 flex-direction: column;
 min-width: 0;
 word-wrap: break-word;
 background-color: #111d5e;
 border-radius: 12.25rem;
 color: white;
}
.primary_body .home_container .card-blog .card_wrapper .row .card-group .card .card-img-top {
 width: 50%;
 margin-left: 91px;
}
.primary_body .french_map .map_wrapper .map_holder .map_svg g path {
 fill: gray;
 stroke-width: 1px;
 stroke: gray;
 cursor: pointer;
 transition: 0.3s;
}
.primary_body .french_map .map_wrapper .map_holder .map_svg g path:hover {
 fill: red;
}
.primary_body .divider .divider_ligne {
 width: 100%;
 height: 5px;
 background: #111d5e;
 display: block;
 position: relative;
}
.primary_body .divider .divider_ligne::before {
 content: "";
 position: absolute;
 width: 30%;
 top: 0;
 left: 0;
 height: 5px;
 background: red;
}
.primary_body .divider .divider_ligne::after {
 content: "";
 position: absolute;
 width: 30%;
 top: 0;
 right: 0;
 height: 5px;
 background: red;
}
.primary_body .actuality .actuality_wrapper .title .title_txt {
 font-size: 45px;
 font-weight: 800;
 position: relative;
 margin: 0;
 color: #111d5e;
}
.primary_body .actuality .actuality_wrapper .title .title_txt::after {
 content: "";
 width: 170px;
 height: 3px;
 bottom: 0;
 left: 90px;
 background: #111d5e;
 position: absolute;
}
.primary_body .actuality .actuality_wrapper .card_wrapper {
 width: 100%;
 height: fit-content;
 overflow: hidden;
 border-radius: 5px;
}
.primary_body .actuality .actuality_wrapper .card_wrapper .card_img {
 overflow: hidden;
 border-radius: 0 0 5px 5px;
 height: 150px;
}
.primary_body .actuality .actuality_wrapper .card_wrapper .card_img .image {
 height: 100%;
 width: 100%;
 object-fit: cover;
}
.primary_body .actuality .actuality_wrapper .card_wrapper .card_txt {
 height: 60px;
 justify-content: center;
 position: relative;
 display: flex;
 flex-direction: column;
 padding: 5px;
}
.primary_body .actuality .actuality_wrapper .card_wrapper .card_txt .title {
 font-size: 16px;
 font-weight: 600;
 width: 100%;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 margin: 0;
 color: #111d5e;
}
.primary_body .actuality .actuality_wrapper .card_wrapper .card_txt .desc {
 font-size: 14px;
 font-weight: 500;
 overflow: hidden;
 width: 80%;
 white-space: nowrap;
 text-overflow: ellipsis;
 margin: 0;
 color: #111d5e;
}
.primary_body .actuality .actuality_wrapper .card_wrapper .card_txt .see_more {
 position: absolute;
 right: 5px;
 bottom: 10px;
 font-size: 12px;
 color: gray;
}
.primary_body .our_proposal .proposal_wrapper .title .title_txt {
 font-size: 45px;
 font-weight: 800;
 position: relative;
 margin: 0;
 color: #111d5e;
}
.primary_body .our_proposal .proposal_wrapper .title .title_txt::after {
 content: "";
 width: 170px;
 height: 3px;
 bottom: 0;
 left: 250px;
 background: #111d5e;
 position: absolute;
}
.primary_body .our_proposal .proposal_wrapper .title .desc_txt {
 margin: 0;
 color: #111d5e;
}
.primary_body .our_proposal .proposal_wrapper .card_wrapper {
 border: 2px solid #65b9b7;
 border-radius: 10px;
 padding: 10px;
}
.primary_body .our_proposal .proposal_wrapper .card_wrapper .card_header {
 height: 80px;
}
.primary_body .our_proposal .proposal_wrapper .card_wrapper .card_header .title {
 margin: 0;
 font-weight: 900;
 color: #111d5e;
}
.primary_body .our_proposal .proposal_wrapper .card_wrapper .card_header .desc {
 margin: 0;
 font-weight: 600;
 color: #111d5e;
}
.primary_body .our_proposal .proposal_wrapper .card_wrapper .card_desc .desc {
 margin: 0;
 color: #111d5e;
}
.primary_body .search_bloc *, .primary_body .search_bloc *:before, .primary_body .search_bloc *:after {
 box-sizing: border-box;
}
.primary_body .search_bloc body {
background: #f5f5f5;
}
.primary_body .search_bloc {
display: flex;
flex-direction: row;
justify-content: flex-start;
margin-left: unset;
width: 650px;
margin-left: 45px;
}
.primary_body .search_bloc main {
 left: 50%;
 position: absolute;
 top: 50%;
 transform: translateX(-50%) translateY(-50%);
 width: 300px;
}
.primary_body .search_bloc .search:before, .primary_body .search_bloc .search:after {
 content: "";
 display: block;
 position: absolute;
}
.primary_body .search_bloc .search:before {
 border: 5px solid #ffffff ;
 border-radius: 20px;
 height: 40px;
 transition: all 0.3s ease-out;
 transition-delay: 0.3s;
 width: 40px;
}
.primary_body .search_bloc .search:after {
 background: #ffffff;
 border-radius: 3px;
 height: 5px;
 transform: rotate(-45deg);
 transform-origin: 0% 100%;
 transition: all 0.3s ease-out;
 width: 15px;
}
.primary_body .search_bloc .search__input {
 background: transparent;
 border: none;
 border-radius: 20px;
 display: block;
 font-size: 20px;
 height: 40px;
 line-height: 40px;
 opacity: 0;
 outline: none;
 padding: 0 15px;
 position: relative;
 transition: all 0.3s ease-out;
 transition-delay: 0.6s;
 width: 40px;
 z-index: 1;
 color: rgb(223, 223, 223);
}
.primary_body .search_bloc .search--hide:before {
 transition-delay: 0.3s;
}
.primary_body .search_bloc .search--hide:after {
 transition-delay: 0.6s;
}
.primary_body .search_bloc .search--hide .search__input {
 transition-delay: 0s;
}
.primary_body .search_bloc .search--show:after {
 transform: rotate(45deg) translateX(15px) translateY(-2px);
 width: 0;
}
.primary_body .search_bloc .search--show:before {
 border: 5px solid #ffffff;
 border-radius: 20px;
 height: 40px;
 width: 500px;
}
.primary_body .search_bloc .search--show .search__input {
 opacity: 1;
 width: 500px;
}
.primary_body .float_actions {
 position: fixed;
 background: red;
 border-radius: 10px;
 left: 0;
 top: 35%;
 padding: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 7%;
}
.primary_body .float_actions .actions_content {
 padding: 0;
 margin: 0 0 -30px 0;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.primary_body .float_actions .actions_content .action_items {
 padding: 5px;
 width: 120px;
 height: 120px;
 display: flex;
 justify-content: center;
 align-content: center;
 position: relative;
}
.primary_body .float_actions .actions_content .action_items::before{
content: ">";
position: absolute;
right: -10px;
top: 15%;
color: white;
font-size: 20px;
width: 40%;
font-weight: bold;
}

.primary_body .float_actions .actions_content .action_items:hover:after{
content: "Testez mon égibilité";
position: absolute;
right: -180px;
top: 15%;
color: black;
font-size: 17px;
width: 40%;
background: white;
width: 180px;
border-radius: 25px;
text-align: center;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
}

.primary_body .float_actions .actions_content .action_items .item_href {
 text-decoration: none;
 display: block;
 flex-direction: column;
 justify-content: center;
 font-size: 14px;
}
.primary_body .float_actions .actions_content .action_items .item_href .ihref_logo {
 width: 100px;
 height: 100px;
 margin-left: 25px;
}
.primary_body .float_actions .actions_content .action_items .item_href .ihref_text {
 text-align: center;
 margin: 0;
 color: white;
 margin-top: 7px;
}





.jumbotron {
margin: -21px -22px 0px -24px;
height: 800px;
color: white !important;
border-radius: 0 0 15%;
}
.imgdame {
width: 1000px;
height: 500px;
margin-top: -10%;
margin-left: -10%;
}
.text_transition {
font-size: 60px;
color: #111d5e;
}

#wrap {
margin: 50px 100px;
display: inline-block;
position: relative;
height: 60px;
float: right;
padding: 0;
position: relative;
}

input[type="text"] {
height: 50px;
font-size: 30px;
display: inline-block;

font-weight: 100;
border: none;
outline: none;
color: white;
padding: 3px;
padding-right: 60px;
width: 0px;
position: absolute;
top: 0;
right: 0;
background: none;
z-index: 3;
transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
cursor: pointer;
}

input[type="text"]:focus:hover {
border-bottom: 1px solid white;
}

input[type="text"]:focus {
width: 700px;
z-index: 1;
border-bottom: 1px solid white;
cursor: text;
}
input[type="submit"] {
height: 50px;
width: 50px;
display: inline-block;
color: white;
float: right;
background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=)
  center center no-repeat;
text-indent: -10000px;
border: none;
position: absolute;
top: 0;
right: 0;
z-index: 2;
cursor: pointer;
opacity: 0.4;
cursor: pointer;
transition: opacity 0.4s ease;
}

input[type="submit"]:hover {
opacity: 0.8;
}

.item_num {
  margin: 0;
  font-weight: 700;
  color: #111d5e;
}
.success_item {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item_desc {
  margin: 0;
  color: #111d5e;
}
.success_list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.success_txt {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: #111d5e;
}
.success_desc {
  font-size: 28px;
  color: #111d5e;
}
.container_box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;

}


h1{
font-weight: bold;
color: #111d5e;

}
.k{
font-weight: bold;
margin: inherit;
}

h5{
color: #111d5e;
font-size: 15px;
}
p{
font-size: 12px;
color: #111d5e;

}
.footer p{
  font-size: 12px;
color: #ffffff;
}
.actu{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
}


.main {
width: 800px;
height: 350px;
padding: 3em;
margin-left: 25%;
}

.texte {
width: 800px;
height: 350px;
padding: 3em;
margin-left: 25%;
}




.french_map,
.map_wrapper,
.map_holder,
.map_svg,
g,
path {
fill: gainsboro ;
stroke-width: 1px ;
stroke: gray;
width: 100%;
height: 100%;
cursor: pointer;
transition: .2s ;
}

h1{
font-weight: bold;
margin: 50px 0 50px 0;

}
.primary_body .french_map .map_wrapper .map_holder .map_svg g path:hover {
fill: #111D5E ;
stroke: #ffd2d2 ;
}


#us-map {
display: block !important;
position: absolute !important;
top: 0 !important;
left: 0 !important;
width: 100% !important;
height: 100% !important;
}

path:hover,
circle:hover {
stroke: #002868 ;
stroke-width: 2px ;
stroke-linejoin: round ;
fill: #002868 ;
cursor: pointer ;
}

#path {
fill: none ;
stroke: #A9A9A9 ;
cursor: default ;
}

#info-box {
display: none ;
position: absolute ;
top: 0px ;
left: 0px  ;
z-index: 1;
background-color: #ffffff ;
border: 2px solid #ffffff ;
border-radius: 5px ;
padding: 5px ;
font-family: arial ;
width: 100px;
height: 100px;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  }
  .round{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
  }

  .right-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 35px;
    top: 80px;
    bottom: auto;
    z-index: 0;
    transform: rotate(225deg);
    border: 12px solid;
    border-color: white transparent transparent white;
  }

.act-content{
background-color: #EBECF0;

}
  .act-img{
    background-color: #EBECF0;
  }

.proposons{
  height: 300px;
  background: linear-gradient(#ffffff, #e5e6e7);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.proposons h1{
  margin: 0;
}
.SousB{
  border: 3px solid rgb(41, 191, 211);
  border-radius: 15px;
  height: 160px;
  margin: 0;
  padding: 20px;
  width: 300px;
}
.SousB h1{
  font-size: 30px;
}
.SousB  h3{
  font-size: 15px;
font-weight: bold;
line-height: normal;
}
.SousB   p{
  font-size: 15px;
}

.SousB i{
  margin-left: 277px;
z-index: auto;
font-size: 26px;
margin-top: -50px;
}

.btntest{
  text-decoration:auto ;  border: none; background: red;border-radius: 25px;color: white;padding: 5px 15px;
}

.test{
width: 100px;
height: 200px;
margin-top: 20px;
margin-right: 5px;
}
.test i{
font-size: 30px;
color: white;
}
.showtest{
display: none;
}
.showtest button{
margin-top: -30px;
}

.test:hover + .showtest {
display:block;
}


.action_items{

}
.content{
width: max-content;
}

/****************************************************home other****************************/
.home{
color: white;
font-size: 18px;
}
.threeB{
background: transparent;
 color: white;
 padding: 20px;
}
.threeB:hover{
 border: 5px solid white;
}
.chiffre{
display: flex;
            flex-direction: column;
            justify-content: center;
            width: 40%;
            align-items: inherit;
}

.transtion{
display: flex;
position: absolute;
margin-left: -350px;
width: max-content;
flex-direction: column;
}
.card1{
  margin-right: 50px;height: 345px;width: 315px;
}
.card1 .box{
  box-shadow: 0px 1px 15px grey;
  border: none;
  border-radius: 71px 14px 71px 14px;
  background-color: #ffffff;
  padding: 40px;
}

.card1 .box h4{
  padding: 69px 0 0 26px;
  font-size: 20px;
  color:#00BFFF
}
.card1 .box h6{
  padding: 0px 0 0px 54px;
  font-size: 10px;
  color:#c7c7c7
}
.card1 .image{
  position: relative;
  top: -132px;
  left: -116px;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: contain;
  overflow: hidden;
}
.card1 .image img{
  width: 120%;
  height: 120%
}
.lastB{
  width: 100%;

}

.second-bloc{
  background-image: url(../../assets/cpnimages/sitecpn/sin.png);
  background-repeat: no-repeat;
  background-position:658px 234px;
  margin-top:100px;
}
.second-bloc .block1{

}
.second-bloc .block1 p{padding-right: 48rem;}
.block5 img{
  margin-left: 190px;
  height:100%;
  width:100%
}

.block6{
  padding-top: 30px;
  padding-left: 110px;
  margin-top: -501px;
  float:right
}
.block3 p{
  padding-right: 25rem;
  width: 800px;
}
.cookieConsentContainer {

  z-index: 999;

  width: 350px;

  min-height: 20px;

  box-sizing: border-box;

  padding: 30px 30px 30px 30px;

  background: #232323;

  overflow: hidden;

  position: fixed;

  bottom: 30px;

  right: 30px;

  display: none;

}

.cookieConsentContainer .cookieTitle a {

  font-family: OpenSans, arial, "sans-serif";

  color: #FFFFFF;

  font-size: 22px;

  line-height: 20px;

  display: block;

}

.cookieConsentContainer .cookieDesc p {

  margin: 0;

  padding: 0;

  font-family: OpenSans, arial, "sans-serif";

  color: #FFFFFF;

  font-size: 13px;

  line-height: 20px;

  display: block;

  margin-top: 10px;

} .cookieConsentContainer .cookieDesc a {

    font-family: OpenSans, arial, "sans-serif";

    color: #FFFFFF;

    text-decoration: underline;

  }

.cookieConsentContainer .cookieButton a {

  display: inline-block;

  font-family: OpenSans, arial, "sans-serif";

  color: #FFFFFF;

  font-size: 14px;

  font-weight: bold;

  margin-top: 14px;

  background: #000000;

  box-sizing: border-box;

  padding: 15px 24px;

  text-align: center;

  transition: background 0.3s;

}

.cookieConsentContainer .cookieButton a:hover {

  cursor: pointer;

  background: #3E9B67;

}



@media (max-width: 980px) {

  .cookieConsentContainer {

    bottom: 0px !important;

    left: 0px !important;

    width: 100%  !important;

  }

}
  /*****************************************responsive css *************************************************/
  @media screen and (max-width: 768px) {

    .proposons{
      height: 800px;
  background: linear-gradient(#ffffff, #e5e6e7);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
    }
    .SousB i{
      margin-left: 77px;
  z-index: auto;
  font-size: 26px;
  margin-top: 70px;
  transform: rotate(90deg);
  position: absolute;
    }

    .chiffre{
      display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
    }
    .success_item{
      margin-left: 20px;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .k{
      margin: initial;
    }


    .primary_body  .float_actions{
      position: fixed;
  background: red;
  border-radius: 10px;
  left: 0;
  top: 35%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3%;
  height: 5%;
    }
    .primary_body  .float_actions::after{
      content: ">";
      color: white;
      position: fixed;
  background: red;
  border-radius: 10px;
  left: 0;
  top: 35%;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 5%;
  font-weight: bold;
  font-size: 20px;

    }
    .primary_body  .float_actions:hover:after{
      content: ">";
      color: white;
      position: fixed;
  background: red;
  border-radius: 10px;
  left: 0;
  top: 35%;
  padding: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 3%;
  height: 5%;
    }
    .primary_body .float_actions .actions_content {
      padding: 0;
      margin: 0 0 -30px 0;
      display: none;
      flex-direction: column;
      justify-content: space-between;
   }
    .primary_body  .float_actions:hover{
      position: fixed;
      background: red;
      border-radius: 10px;
      left: 0;
      top: 35%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      height: 23%;
      z-index: 99999;
    }

   .primary_body .float_actions:hover .actions_content {
    padding: 0;
    margin: 0 0 -30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .primary_body .search_bloc .search--show:before {
    border: 5px solid #111d5e;
    border-radius: 20px;
    height: 40px;
    width: 300px;
  }
  .primary_body .search_bloc .search--show .search__input {
    opacity: 1;
    width: 300px;
  }

  primary_body .home_container .section_heading .heading_wrapper .img_wrapper .heading_img {
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
    width: max-content;
    text-align: center;
 }
 .primary_body .search_bloc {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: unset;
    width: 390px;
}
.transtion{
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.carre {
  width: 200px;
  height: 90px;
  background: white;
  border-radius: 18px;
  margin-left: 110px;
  margin-top: 250px;
  align-items: center;
}
.content{
  width: fit-content;
}

.primary_body .home_container .section_heading .heading_wrapper .title_heading {
  font-size: 30px;
  font-weight: 800;
  color:  #ffffff;
  width: max-content;
}
.lastB{
 width: 80%;
 margin: 50px;
}
.text-center{
 margin-bottom: 50px;
}

.card1{
margin-right: 0px;
height: 345px;
width: 315px;
}
.card1 .box{
box-shadow: 0px 1px 15px grey;
border: none;
border-radius: 71px 14px 71px 14px;
background-color: #ffffff;
padding: 40px;
}


.second-bloc{
background-image: url(../../assets/cpnimages/sitecpn/sin.png);
background-repeat: no-repeat;
background-position:658px 234px;
margin-top:100px;
}
.second-bloc .block1{
display: flex;
flex-direction: column;
align-items: flex-start;
}
.second-bloc .block1 p{
padding-right: 0;
}

 .one{
margin: 40px 0 0 0 ;
}
 .two{
margin: 0;
}
 .three{
margin: 0;
}
.outer-div{
  margin-left: 14%;
}
.block5{
max-width: 100%;
width: 100%;
}
.block5 img{
margin-left: 0;
height:100%;
width:100%
}

.block6{
padding-top: 30px;
padding-left:0;
margin-top: 0;
max-width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.block3 p{
padding-right: 0;
width: 500px;
}


  .navbar-brand {
      display: inline-block;
      padding-top: .3125rem;
      padding-bottom: .3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
      margin-left: 0;
      z-index: 5;
}

  }
