
    <div class="register_container">
        <div class="register_content">
            <div class="register_wrapper">
                <form method="post">

                    <div class="row row d-flex align-items-center ">
                          <div class="col-md-6 g-3">
                            <div class="container py-0">
                                <div class="row row-cols-2 g-2">
                                    <div class="col"> <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/1.png" alt=""></div>
                                    <div class="col"> <img style="width: 100%;border-radius: 0 3.5rem 0 0;height: 100%;" src="assets/cpnimages/connexion/2.png" alt=""></div>
                                    <div class="col">  <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/3.png" alt=""></div>
                                    <div class="col">  <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/4.png" alt=""></div>
                                    <div class="col">  <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/5.png" alt=""></div>
                                    <div class="col">  <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/6.png" alt=""></div>
                                    <div class="col">  <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/7.png" alt=""></div>
                                    <div class="col">  <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/8.png" alt=""></div>
                                    <div class="col">  <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/9.png" alt=""></div>
                                    <div class="col">  <img style=" border-radius: 0 0 3.5rem 0; width: 100%;height: 100%" src="assets/cpnimages/connexion/10.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="height: 100%;">
                            <div class="row g-0 mb-3" style="flex: 1;">
                                <h2 style="color: #111d5e;text-align: center;">Mot de passe Oubliée</h2>
                            </div>
                            <div class="row mb-3 g-4" style="flex: 2;">
                                <div class="col-md-12">
                                    <input placeholder="Email"  type="email" class="form-control" name="email" value="" required >
                                </div>

                            </div>
                            <div class="row justify-content-end">
                                <div class="row justify-content-center" style="flex: 1;">
                                    <div class="col-4">
                                        <button style="border: none;
                  background: red;
                  border-radius: 25px;
                  color: white;
                  padding: 5px 15px;    margin-top: 15px;" type="submit" class="btn btn-danger">Envoyer</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

