

<div class="login_container">
    <div class="login_wrapper">
        <div class="login_content">
            <div class="d-flex align-items-center">
                <div class="col-md-6" style ="margin-top: 10px;margin-bottom: 10px;">
                    <div class="container">
                        <div class="row row-cols-2 g-2">
                            <div class="col"> <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/1.png" alt="dame"></div>
                            <div class="col"> <img style="width: 100%;border-radius: 0 3.5rem 0 0;height: 100%;" src="assets/cpnimages/connexion/1.png" alt=""></div>
                            <div class="col"> <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/2.png" alt=""></div>
                            <div class="col"> <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/3.png" alt=""></div>
                            <div class="col"> <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/4.png" alt=""></div>
                            <div class="col"> <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/5.png" alt=""></div>
                            <div class="col"> <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/6.png" alt=""></div>
                            <div class="col"> <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/7.png" alt=""></div>
                            <div class="col"> <img style="width: 100%;height: 100%" src="assets/cpnimages/connexion/8.png" alt=""></div>
                            <div class="col"> <img style=" border-radius: 0 0 3.5rem 0; width: 100%;height: 100%" src="assets/cpnimages/connexion/9.png" alt=""></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" style="display: flex;    flex-direction: row;    justify-content: center;    margin: auto;">

                    <div class="card-body p-4 p-sm-5">

                            <div class="réseau-sociaux">
                                <h3 class="text-center">Connectez-Vous Avec</h3><br>
                                <p class="text-center">
                                    <a href=""><img style="width:10%;margin-left: 10px" src="assets/cpnimages/connexion/gmail.png" alt=""></a>
                                </p>
                            </div>
                            <br>
                            <div class="row justify-content-center">
                                <h5 class="m-0 text-center or_styling">Ou Bien</h5>
                            </div>
                            <br>
                            <form  [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
                            <div class="col-md-12 pb-2">
                              <input type="text" class="form-control " formControlName="email" id="floatingInput" placeholder="Nom d'utilisateur">
                            </div>
                            <div class="col-md-12 pb-2">
                              <input type="password" class="form-control" formControlName="password" id="floatingInput" placeholder="Mot de passe">
                            </div>



                                <div class="container overflow-hidden">
                                    <div class="row">

                                        <div style="text-align: center;color: black;" >
                                            <a class="pr-4" href="#">Mot de passe oublier ?</a>

                                            <button type="submit" style="background-color: red;" class="btn btn-danger">Connexion</button>
                                          </div>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

