.width100{
  width: 100% !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2em + .75rem + 2px);
    padding: 1.375rem 1.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 10%);
    margin: 11px;
}
.login_container {
    background-color: #f6fafd;
}