<mat-form-field>
    <mat-label> <mat-icon>search</mat-icon>Rechercher...</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
        <!-- Nom Column -->
        <ng-container matColumnDef="Nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let row"> {{row.nom}}% </td>
        </ng-container>
    
        <!-- Prenom Column -->
        <ng-container matColumnDef="Prénom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
          <td mat-cell *matCellDef="let row"> {{row.prenom}} </td>
        </ng-container>

        <!-- entreprise Column -->
        <ng-container matColumnDef="entreprise">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> entreprise </th>
            <td mat-cell *matCellDef="let row"> {{row.entreprise}} </td>
          </ng-container>

         <!-- Téléphone Column -->
         <ng-container matColumnDef="Téléphone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </th>
            <td mat-cell *matCellDef="let row"> {{row.telephone}} </td>
          </ng-container>

           <!-- Email Column -->
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>

           <!-- Test Column -->
        <ng-container matColumnDef="Test">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Test </th>
            <td mat-cell *matCellDef="let row"> {{row.test}} </td>
          </ng-container>

           <!-- Confirmer Column -->
        <ng-container matColumnDef="Confirmer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Confirmer </th>
            <td mat-cell *matCellDef="let row"> {{row.confirmer}} </td>
          </ng-container>

           <!-- Actions Column -->
        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let row"> {{row.actions}} </td>
          </ng-container>
    
           
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>    
  </div>
  

