 <!--button Update product-->
<button mat-raised-button color="primary" data-toggle="modal" (click)="openModal()" style="margin:10px ;float: right;">
<mat-icon>add </mat-icon> Ajouter
  </button>

  <mat-form-field>
    <mat-label> <mat-icon>search</mat-icon>Rechercher...</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- CP Column -->
        <ng-container matColumnDef="CP">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CP </th>
          <td mat-cell *matCellDef="let row"> {{row.cp}} </td>
        </ng-container>
    
        <!-- Nom Column -->
        <ng-container matColumnDef="Nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let row"> {{row.nom}}% </td>
        </ng-container>
    
        <!-- Prenom Column -->
        <ng-container matColumnDef="Prénom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
          <td mat-cell *matCellDef="let row"> {{row.prenom}} </td>
        </ng-container>

         <!-- Téléphone Column -->
         <ng-container matColumnDef="Téléphone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </th>
            <td mat-cell *matCellDef="let row"> {{row.telephone}} </td>
          </ng-container>

           <!-- Email Column -->
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>

           <!-- Status Column -->
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
          </ng-container>

           <!-- Actions Column -->
        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let row"> {{row.actions}} </td>
          </ng-container>
    
           
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>    
  </div>
  

  

<!--Modal PopUp with Add Event Form-->
<div class="modal" id="myModalrepertoir">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title align-center">Ajouter un nouveau contact</h4>
            </div>

            <div class="modal-body">
              <mat-horizontal-stepper labelPosition="bottom" #stepper>
                <mat-step [stepControl]="contactFormGroup">
                <form class="profile-form" [formGroup]="contactFormGroup" (ngSubmit)="onSubmit()">
                  <ng-template matStepLabel>formulaier contact</ng-template>
                    <mat-form-field class="example-full-width">
                      <mat-label>Nom</mat-label>
                      <input matInput formControlName="firstName"
                             placeholder="Ex. ahmed">
                      <mat-hint>Errors appear instantly!</mat-hint>
                      <mat-error >
                        Please enter a valid Nom 
                      </mat-error>
                      <mat-error >
                        Nom is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>

                     <div class="block">
                    <mat-form-field class="example-full-width">
                        <mat-label>Prénom</mat-label>
                        <input matInput formControlName="lastName"
                               placeholder="Ex. kneni">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error >
                          Please enter a valid Prenom 
                        </mat-error>
                        <mat-error >
                            Prenom is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email"
                               placeholder="Ex. pat@example.com">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error >
                          Please enter a valid email address
                        </mat-error>
                        <mat-error >
                          Email is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="block">
                      <mat-form-field class="example-full-width">
                        <mat-label>telephone</mat-label>
                        <input matInput formControlName="phone"
                               placeholder="Ex. ** **** ***">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error >
                          Please enter a valid Adresse 
                        </mat-error>
                        <mat-error >
                            telephone is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field class="example-full-width">
                        <mat-label>position</mat-label>
                        <input matInput formControlName="position"
                               placeholder="Ex. ** **** ***">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error >
                          Please enter a valid position
                        </mat-error>
                        <mat-error >
                            Telephone is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div>
                      <button mat-button matStepperNext>Next</button>
                  </div>
                    </form>
                  </mat-step>

                  <mat-step [stepControl]="companiesFormGroup">
                    <form [formGroup]="companiesFormGroup">
                      <ng-template matStepLabel>formulaire societe</ng-template>
                    <mat-form-field class="example-full-width">
                      <mat-label>Activite</mat-label>
                      <input matInput formControlName="activity"
                             placeholder="Ex. Gerant">
                      <mat-hint>Errors appear instantly!</mat-hint>
                      <mat-error >
                        Please enter a valid activity 
                      </mat-error>
                      <mat-error >
                        Nom is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    <div class="block">
                      <mat-form-field class="example-full-width">
                          <mat-label>nom Societe</mat-label>
                          <input matInput formControlName="name"
                                 placeholder="Ex. zara">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid nom societe 
                          </mat-error>
                          <mat-error >
                              Prenom is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
  
                        <mat-form-field class="example-full-width">
                          <mat-label>status</mat-label>
                          <input matInput formControlName="status"
                                 placeholder="Ex. pat@example.com">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid email status
                          </mat-error>
                          <mat-error >
                            Email is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
  
                      <div class="block">
                        <mat-form-field class="example-full-width">
                          <mat-label>salaries</mat-label>
                          <input matInput formControlName="salaries"
                                 placeholder="Ex. de 0 à 5 Personnes">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid salaries 
                          </mat-error>
                          <mat-error >
                            salaries is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
  
                        <mat-form-field class="example-full-width">
                          <mat-label>siret</mat-label>
                          <input matInput formControlName="siret"
                                 placeholder="Ex. 78951894100016">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid siret 
                          </mat-error>
                          <mat-error >
                            siret is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <mat-form-field class="example-full-width">
                        <mat-label>siren</mat-label>
                        <input matInput formControlName="siren"
                               placeholder="Ex. 78951894">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error >
                          Please enter a valid siren 
                        </mat-error>
                        <mat-error >
                          siren is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                     <div class="block">
                      <mat-form-field class="example-full-width">
                          <mat-label>naf</mat-label>
                          <input matInput formControlName="naf"
                                 placeholder="Ex. 9604Z">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid naf 
                          </mat-error>
                          <mat-error >
                            naf is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
  
                        <mat-form-field class="example-full-width">
                          <mat-label>telephone Societe</mat-label>
                          <input matInput formControlName="phoneCompany"
                                 placeholder="Ex. pat@example.com">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid telephone Societe
                          </mat-error>
                          <mat-error >
                            Email is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
  
                      <div class="block">
                        <mat-form-field class="example-full-width">
                          <mat-label>turnover</mat-label>
                          <input matInput formControlName="turnover"
                                 placeholder="Ex.0">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid turnover 
                          </mat-error>
                          <mat-error >
                            turnover is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
  
                        <mat-form-field class="example-full-width">
                          <mat-label>lastTurnover</mat-label>
                          <input matInput formControlName="lastTurnover"
                                 placeholder="Ex. 7">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid  lastTurnover
                          </mat-error>
                          <mat-error >
                            lastTurnover is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <mat-label>aide</mat-label>
                          <input matInput formControlName="help"
                                 placeholder="Chaumage partiel">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid aide 
                          </mat-error>
                          <mat-error >
                            aide is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                      </form>
                    </mat-step>

                    <mat-step [stepControl]="investmentFormGroup">
                      <form [formGroup]="investmentFormGroup">
                          <ng-template matStepLabel>formulaire investment</ng-template>
                     <div class="block">
                        <mat-form-field class="example-full-width">
                          <mat-label>service</mat-label>
                          <input matInput formControlName="service"
                                 placeholder="Ex. pat@example.com">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid service
                          </mat-error>
                          <mat-error >
                            service is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
  
                      <div class="block">
                        <mat-form-field class="example-full-width">
                          <mat-label>transitions</mat-label>
                          <input matInput formControlName="transitions"
                                 placeholder="Ex. 1 juin akouda">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid transitions 
                          </mat-error>
                          <mat-error >
                            transitions is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
  
                        <mat-form-field class="example-full-width">
                          <mat-label>budget</mat-label>
                          <input matInput formControlName="budget"
                                 placeholder="Ex. 99999">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid budget
                          </mat-error>
                          <mat-error >
                            budget is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                      </form>
                    </mat-step>

                    <mat-step [stepControl]="addressFormGroup">
                      <form [formGroup]="addressFormGroup">
                          <ng-template matStepLabel>formulaire localisation</ng-template>
                      <mat-form-field class="example-full-width">
                        <mat-label>adresse</mat-label>
                        <input matInput formControlName="line"
                               placeholder="Ex. 35 Rue du Château Fort">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error >
                          Please enter a valid adresse 
                        </mat-error>
                        <mat-error >
                          adresse is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                     <div class="block">
                      <mat-form-field class="example-full-width">
                          <mat-label>region</mat-label>
                          <input matInput formControlName="region"
                                 placeholder="Ex. akouda">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid region 
                          </mat-error>
                          <mat-error >
                            region is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
  
                        <mat-form-field class="example-full-width">
                          <mat-label>ville</mat-label>
                          <input matInput formControlName="city"
                                 placeholder="Ex.sousse">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid email ville
                          </mat-error>
                          <mat-error >
                            ville is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
  
                      <div class="block">
                        <mat-form-field class="example-full-width">
                          <mat-label>code postal</mat-label>
                          <input matInput formControlName="zipcode"
                                 placeholder="Ex. 4022">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid code postal 
                          </mat-error>
                          <mat-error >
                            code postal is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
  
                        <mat-form-field class="example-full-width">
                          <mat-label>departement</mat-label>
                          <input matInput formControlName="departement"
                                 placeholder="Ex. somme">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid Telephone departement
                          </mat-error>
                          <mat-error >
                            departement is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <mat-form-field class="example-full-width">
                        <mat-label>country</mat-label>
                        <input matInput formControlName="country"
                               placeholder="Ex. tounisie">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error >
                          Please enter a valid country 
                        </mat-error>
                        <mat-error >
                          country is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                      </form>
                    </mat-step>

                    <mat-step [stepControl]="developmentFormGroup">
                      <form [formGroup]="developmentFormGroup">
                          <ng-template matStepLabel>formulaire development</ng-template>
                     <div class="block">
                      <mat-form-field class="example-full-width">
                          <mat-label>site web</mat-label>
                          <input matInput formControlName="haveWebsite"
                                 placeholder="Ex. oui">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid site web 
                          </mat-error>
                          <mat-error >
                            site web is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
  
                        <mat-form-field class="example-full-width">
                          <mat-label>type site</mat-label>
                          <input matInput formControlName="websiteType"
                                 placeholder="Ex. vitrine">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid email type site
                          </mat-error>
                          <mat-error >
                            type site is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
  
                      <div class="block">
                        <mat-form-field class="example-full-width">
                          <mat-label>valuer de site</mat-label>
                          <input matInput formControlName="websiteValue"
                                 placeholder="Ex. 10">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid valuer de site 
                          </mat-error>
                          <mat-error >
                            valuer de site is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
  
                        <mat-form-field class="example-full-width">
                          <mat-label>lien site</mat-label>
                          <input matInput formControlName="websiteLink"
                                 placeholder="Ex.http://www.ospadetente.fr">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid Telephone lien site
                          </mat-error>
                          <mat-error >
                            lien site is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <mat-form-field class="example-full-width">
                        <mat-label>date site</mat-label>
                        <input matInput formControlName="websiteDate"
                               placeholder="Ex. 2021">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error >
                          Please enter a valid date site 
                        </mat-error>
                        <mat-error >
                          date site is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                     <div class="block">
                      <mat-form-field class="example-full-width">
                          <mat-label>crm</mat-label>
                          <input matInput formControlName="haveCrm"
                                 placeholder="Ex. oui">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid crm 
                          </mat-error>
                          <mat-error >
                            crm is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
  
                        <mat-form-field class="example-full-width">
                          <mat-label>type</mat-label>
                          <input matInput formControlName="crmType"
                                 placeholder="Ex. ERP">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid email type
                          </mat-error>
                          <mat-error >
                            type is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
  
                      <div class="block">
                        <mat-form-field class="example-full-width">
                          <mat-label>development</mat-label>
                          <input matInput formControlName="crmDev"
                                 placeholder="Ex. Oracle">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid development 
                          </mat-error>
                          <mat-error >
                            development is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
  
                        <mat-form-field class="example-full-width">
                          <mat-label>nom crm</mat-label>
                          <input matInput formControlName="crmName"
                                 placeholder="Ex. kodiv">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid Telephone nom crm
                          </mat-error>
                          <mat-error >
                            nom crm is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <mat-form-field class="example-full-width">
                        <mat-label>Nom erp</mat-label>
                        <input matInput formControlName="erpName"
                               placeholder="Ex. compta">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error >
                          Please enter a valid Nom erp 
                        </mat-error>
                        <mat-error >
                          Nom erp is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                     <div class="block">
                      <mat-form-field class="example-full-width">
                          <mat-label>date crm </mat-label>
                          <input matInput formControlName="crmDate"
                                 placeholder="Ex. 2020">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid date crm 
                          </mat-error>
                          <mat-error >
                            date crm is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
  
                        <mat-form-field class="example-full-width">
                          <mat-label>nom agence</mat-label>
                          <input matInput formControlName="agencyName"
                                 placeholder="Ex. freelance">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error >
                            Please enter a valid email nom agence
                          </mat-error>
                          <mat-error >
                            nom agence is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                      </form>
                    </mat-step>
  
                    
                    <mat-step>
                      <ng-template matStepLabel>Done</ng-template>
                      You are now done.
                      <div>
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button (click)="stepper.reset()">Reset</button>
                      </div>
                  </mat-step>
                 
                </mat-horizontal-stepper>
                  
            </div>
        </div>
    </div>
</div>

