table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .mat-form-field .mat-icon{
    margin:0 10px 0 0;
  }
  .block{
    display: flex;
    flex-direction:row ;
    justify-content:center;
    height: 100%;
    width: 100%;
    
  }
  .mat-form-field{
    margin:0 15px 15px 0;
  }

  form button{
    margin: 20px 0 0 0;
    width: 200px;
  }