<!-- Footer -->
<footer class="text-lg-start text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between">



      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container  text-md-start mt-5" style="font-size: 12px;">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto ">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <img src="assets/cpnimages/sitecpn/logo-cpn3.png" alt="logo" width="50px" height="50px">       </h6>

            <p style="color:white;font-size: 12px;">

                Le Cabinet de Propulsion Numérique aide les entreprises à se propulser numériquement et à bénéficier de financement.
                CPN est un organisme de financement à but non lucratif.
            </p>
            <p style="font-size:25px;">
              <i class="fab fa-instagram" aria-hidden="true"></i>
              <i class="fab fa-youtube" aria-hidden="true" style="margin-left: 5px;"></i>
              <i class="fab fa-facebook" aria-hidden="true" style="margin-left: 5px;"></i>
              <i class="fab fa-linkedin" aria-hidden="true" style="margin-left: 5px;"></i>


            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color:white">
                Menu
            </h6>
            <p>

              <a href="#!" class="text-reset" style="color:white">Acceuil</a>
            </p>
            <p>
              <a href="#!" class="text-reset" style="color:white">Actualité</a>
            </p>
            <p>
              <a href="#!" class="text-reset" style="color:white">Agenda</a>
            </p>
            <p>
              <a href="#!" class="text-reset" style="color:white">A propos</a>
            </p>
             <p>
              <a href="#!" class="text-reset" style="color:white">Contactez-nous</a>


              
            </p>
           
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto ">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color:white">
                Support
            </h6>
            <p>
              <a href="#!" class="text-reset text-left" style="color:white">FAQ</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-left" style="color:white">Inscription</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-left" style="color:white">Actualité</a>
            </p>
            <p>
              <a [routerLink]="'Contact'" class="text-reset" style="color:white">Contact</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 ">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color:white">
              Contact
            </h6>
            <p style="color:white"><i class="fas fa-phone me-3"></i>+33 0184142394</p>
                <p style="color:white;width: max-content;">
              <i class="fas fa-envelope me-3"></i>
              <a style="    color: #fff;
    width: max-content;
    text-decoration: none;" href="mailto:votreconseiller@cpn-aide-aux-entreprise.com">votreconseiller@cpn-aide-aux-entreprise.com</a>

            </p>


          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center" style="background-color: #0c133a;color:#fff;font-size:13px;">
      © 2021 Copyright:Tous droits réservés
      <a class="text-reset fw-bold" style="color:white" href="https://jobid.fr/">Jobid.fr</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
